<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/animate.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/odometer.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/jquery.animatedheadline.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/main.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/ionicons.min.css" />
    <!--toastr-->
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/Frontend/Client/assets/images/favicon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <!--custom-->

    <link href="~/Frontend/Client/assets/css/rating.css" rel="stylesheet" />
</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->
    <!-- ==========Header-Section========== -->
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="/">
                        <img src="~/Frontend/Client/assets/images/logo/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="/" class="homepageac">Trang chủ</a>
                    </li>
                    <li>
                        <a id="taskbar-movie" href="#0" class="movieac">Phim</a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("NowShowing", "Movie")">Đang chiếu</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ComingSoon", "Movie")">Sắp chiếu</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0" class="newsfeedac">Tin tức</a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("Index", "News")">Ưu đãi</a>
                            </li>
                            @*<li>
                                    <a href="@Url.Action("News","News")">Điện ảnh</a>
                                </li>*@
                        </ul>
                    </li>
                    <li>
                        <a id="taskbar-info" href="#0" class="informationac">Thông tin</a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("Actor", "Information")">Diễn viên</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Director", "Information")">Đạo diễn</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AboutUs", "Information")">Về chúng tôi</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Information")" class="contactac">Liên hệ</a>
                    </li>
                    <li>
                        @*<a href="@Url.Action("Contact","Information")" class="contactac">PageTest</a>
                            <ul class="submenu">
                                <li>
                                    <a href="@Url.Action("MovieDetail","Movie")">Chi tiết phim</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("BookTicket","Movie")">Chọn vé</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("BookSeat","Movie")">Chọn chỗ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CheckOut","Movie")">Thanh toán</a>
                                </li>
                            </ul>*@

                    </li>
                </ul>
                <div class="ticket-search-form">
                    <div class="form-group large">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { style = "width: 100%;" }))
                        {
                            <input id="txtSearch" name="name" class="autosuggest" type="text" placeholder="Tìm kiếm phim..." autocomplete="off">
                            <div class="tt-menu tt-open" style="position: absolute; top: 100%; left: 0px; z-index: 100; width: 100%; display: block; background-color: #ffffff00; border-radius: 10px; ">
                            </div>
                            <button type="submit"><i class="fas fa-search"></i></button>
                        }

                    </div>
                </div>


                <ul class="menu right-header">
                    <li>
                        @if (Session["TenCus"] != null)
                        {
                            <i class="fas fa-user"></i>
                            <a>@Session["TenCus"].ToString()</a>
                            <ul class="submenu">
                                
                                <li>
                                    <a href="@Url.Action("TransHistory", "User", new { id = Convert.ToInt32(Session["MaKH"]) })">Tài khoản</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "User")">Đăng xuất</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <a href="@Url.Action("SignIn", "User")">Đăng nhập</a>

                        }


                    </li>
                </ul>

                @*<ul class="right-header">
                        <li class="header-button pr-0">
                            @if (Session["TenCus"] != null)
                            {
                                <a href="@Url.Action("ProfileAccount", "User", new { id = @Convert.ToInt32(Session["MaKH"]) })">Tài Khoản</a>
                            }
                            else
                            {
                                <a href="@Url.Action("SignIn", "User")">Đăng nhập</a>
                            }
                        </li>
                    </ul>*@
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <!-- ==========Header-Section========== -->


    @RenderBody()

    <!-- toastr -->
    <div style="display:none">
        <span id="Message" class="d-none">@TempData["Message"]</span>
        <span id="Warning" class="d-none">@TempData["Warning"]</span>
        <span id="Error" class="d-none">@TempData["Error"]</span>
    </div>


    <!---=====================-->
    <section class="sports-section padding-top">
    </section>
    <!-- ==========Sports-Section========== -->
    <!-- ==========Newslater-Section========== -->
    <footer class="footer-section">
        @*<div class="newslater-section padding-bottom">
                <div class="container">
                    <div class="newslater-container bg_img" data-background="/Frontend/Client/assets/images/newslater/newslater-bg01.jpg">
                        <div class="newslater-wrapper">
                            <h5 class="cate">subscribe to Boleto </h5>
                            <h3 class="title">to get exclusive benifits</h3>
                            <form class="newslater-form">
                                <input type="text" placeholder="Your Email Address">
                                <button type="submit">subscribe</button>
                            </form>
                            <p>We respect your privacy, so we never share your info</p>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="index-1.html">
                        <img src="~/Frontend/Client/assets/images/footer/footer-logo.png" alt="footer">
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left">
                        <p>Copyright © 2021.All Rights Reserved By <a href="#0">TTP </a></p>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="#0">Điều khoản sử dụng</a>
                        </li>
                        <li>
                            <a href="#0">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Information")">Phản hồi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========Newslater-Section========== -->

    <script src="~/Frontend/Client/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Frontend/Client/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Frontend/Client/assets/js/plugins.js"></script>
    <script src="~/Frontend/Client/assets/js/bootstrap.min.js"></script>
    <script src="~/Frontend/Client/assets/js/heandline.js"></script>
    <script src="~/Frontend/Client/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Frontend/Client/assets/js/magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Frontend/Client/assets/js/owl.carousel.min.js"></script>
    <script src="~/Frontend/Client/assets/js/wow.min.js"></script>
    <script src="~/Frontend/Client/assets/js/countdown.min.js"></script>
    <script src="~/Frontend/Client/assets/js/odometer.min.js"></script>
    <script src="~/Frontend/Client/assets/js/viewport.jquery.js"></script>
    <script src="~/Frontend/Client/assets/js/nice-select.js"></script>
    <script src="~/Frontend/Client/assets/js/main.js"></script>

    <!--toastr-->
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Content/Message.js"></script>
    <!--custom-->
    <script type="text/javascript" src="~/Scripts/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/popper.min.js"></script>
    <script type="text/javascript" src="~/Scripts/asyncloader.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>



</body>
@RenderSection("scripts", required: false)
</html>