<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="~/Frontend/Client/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/animate.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/odometer.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/jquery.animatedheadline.css">
    <link rel="stylesheet" href="~/Frontend/Client/assets/css/main.css">


    <link rel="shortcut icon" href="~/Frontend/Client/assets/images/favicon.png" type="image/x-icon">

    <title>Boleto  - Online Ticket Booking Website HTML Template</title>


</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->
    <!-- ==========Header-Section========== -->
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="/">
                        <img src="~/Frontend/Client/assets/images/logo/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="/" class="homepageac">Trang chủ</a>
                    </li>
                    <li>
                        <a id="nowshowing" href="#0" class="movieac">Phim</a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("NowShowing","Movie")">Đang chiếu</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ComingSoon","Movie")">Sắp chiếu</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0" class="newsfeedac">Tin tức</a>
                        <ul class="submenu">
                            <li>
                                <a href="events.html">Ưu đãi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("News","NewsFeed")">Điện ảnh</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0" class="informationac">Thông tin</a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("Actor","Information")">Diễn viên</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Director","Information")">Diễn viên</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AboutUs","Information")">Về chúng tôi</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact","Information")" class="contactac">Liên hệ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact","Information")" class="contactac">PageTest</a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("MovieDetail","Movie")">Chi tiết phim</a>
                            </li>
                            <li>
                                <a href="@Url.Action("BookTicket","Movie")">Chọn vé</a>
                            </li>
                            <li>
                                <a href="@Url.Action("BookSeat","Movie")">Chọn chỗ</a>
                            </li>
                            <li>
                                <a href="@Url.Action("CheckOut","Movie")">Thanh toán</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="right-header">
                    <li class="header-button pr-0">
                        <a href="@Url.Action("SignIn","User")">Đăng nhập</a>
                    </li>
                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <!-- ==========Header-Section========== -->


    @RenderBody()

    <!-- ==========Newslater-Section========== -->
    <footer class="footer-section">
        @*<div class="newslater-section padding-bottom">
            <div class="container">
                <div class="newslater-container bg_img" data-background="~/Frontend/Client/assets/images/newslater/newslater-bg01.jpg">
                    <div class="newslater-wrapper">
                        <h5 class="cate">subscribe to Boleto </h5>
                        <h3 class="title">to get exclusive benifits</h3>
                        <form class="newslater-form">
                            <input type="text" placeholder="Your Email Address">
                            <button type="submit">subscribe</button>
                        </form>
                        <p>We respect your privacy, so we never share your info</p>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="index-1.html">
                        <img src="~/Frontend/Client/assets/images/footer/footer-logo.png" alt="footer">
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left">
                        <p>Copyright © 2021.All Rights Reserved By <a href="#0">TTP </a></p>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="#0">Điều khoản sử dụng</a>
                        </li>
                        <li>
                            <a href="#0">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#0">Phản hồi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========Newslater-Section========== -->

    <script src="~/Frontend/Client/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Frontend/Client/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Frontend/Client/assets/js/plugins.js"></script>
    <script src="~/Frontend/Client/assets/js/bootstrap.min.js"></script>
    <script src="~/Frontend/Client/assets/js/heandline.js"></script>
    <script src="~/Frontend/Client/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Frontend/Client/assets/js/magnific-popup.min.js"></script>
    <script src="~/Frontend/Client/assets/js/owl.carousel.min.js"></script>
    <script src="~/Frontend/Client/assets/js/wow.min.js"></script>
    <script src="~/Frontend/Client/assets/js/countdown.min.js"></script>
    <script src="~/Frontend/Client/assets/js/odometer.min.js"></script>
    <script src="~/Frontend/Client/assets/js/viewport.jquery.js"></script>
    <script src="~/Frontend/Client/assets/js/nice-select.js"></script>
    <script src="~/Frontend/Client/assets/js/main.js"></script>
</body>

</html>