@model CinemaBooking.Models.suat_chieu

@{
    ViewBag.Title = "CreateShowTime";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4 class="font-size-18">Tin tức</h4>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Tạo mới</li>
                        </ol>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="float-right d-none d-md-block">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-settings mr-2"></i> Settings
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            @using (Html.BeginForm("CreateShowTime", "Showtime", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group row">
                                    <label>Giờ bắt đầu</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.gio_bat_dau, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.gio_bat_dau, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label>Giờ kết thúc</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.gio_ket_thuc, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.gio_ket_thuc, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label>Ngày chiếu</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ngay_chieu, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ngay_chieu, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.phim_id, "Phim", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("phim_id", "<--- Phim --->")
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.phong_chieu, "Phòng chiếu", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("phong_chieu_id", "<--- Phòng chiếu --->")
                                    </div>
                                </div>

                                <div class="float-lg-right">
                                    <div class="form-group mb-0">
                                        <div>
                                            <input type="submit" value="Create" class="btn btn-primary waves-effect waves-light mr-1" />
                                            <a href="@Url.Action("ListShowTime","Showtime")" class="btn btn-primary waves-effect waves-light mr-1">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- end main content-->
