@model CinemaBooking.Models.khach_hang
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<style>
    .contact-form .form-group {
        margin-left: 260px;
        margin-right: 260px;
    }
</style>

<!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner bg_img" data-background="./assets/images/banner/banner07.jpg" style="padding: 130px 0 10px;">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">ĐỔI MẬT KHẨU</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/Home/Index">
                        Trang chủ
                    </a>
                </li>
                <li>
                    Đổi mật khẩu
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Contact-Section========== -->
<section class="contact-section padding-top" style="padding-top:50px;">
    <div class="contact-container">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-7 col-lg-6 col-xl-12">
                    <!--<div class="section-header-3 left-style">-->
                    @*<span class="cate" style="text-align:center; font-weight:bold; font-size:50px;">THÔNG TIN TÀI KHOẢN</span>*@
                    @*<h2 class="title" style="text-align:center;">@Model.ho_ten</h2>*@
                    <!--</div>-->
                    <form class="contact-form" id="contact_form_submit" action="/User/ChangePass/" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.email)
                        @Html.HiddenFor(model => model.ho_ten)
                        @Html.HiddenFor(model => model.dia_chi)
                        @Html.HiddenFor(model => model.ngay_sinh)
                        @Html.HiddenFor(model => model.username)
                        @Html.HiddenFor(model => model.sdt)
                        @Html.HiddenFor(model => model.password)
                        @Html.HiddenFor(model => model.cmnd)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="name">Mật khẩu cũ <span>*</span></label>
                            <input type="password" id="mkcu"  name="mkcu">
                        </div>

                        <div class="form-group">
                            <label for="name">Mật khẩu mới <span>*</span></label>
                            <input type="password" id="mkcu"  name="mkmoi">
                        </div>

                        <div class="form-group">
                            <label for="name">Xác nhận mật khẩu mới <span>*</span></label>
                            <input type="password" id="mkcu"  name="xnmk">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Lưu mật khẩu">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

