
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@{ int count = 1;int count2 =1; CinemaBooking.Models.CinemaBookingEntities dbmovie = new CinemaBooking.Models.CinemaBookingEntities();}
<!-- ==========Banner-Section========== -->
<!-- owl-carousel Banner Start -->
<section class="pt-0 pb-0">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="gen-banner-movies">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true"
                         data-desk_num="1" data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1"
                         data-autoplay="true" data-loop="true" data-margin="30">
                        @foreach (var banner in dbmovie.phims.Where(x => x.status == 1 && x.loai_phim_chieu == 1).OrderByDescending(x => x.ngay_cong_chieu))
                        {
                            @*if(b == 2){
                                break;
                            }*@
                        <div class="item" style="background: url('../../images/movies/background/@banner.anhbackground')">
                            <div class="gen-movie-contain h-100">
                                <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                        <div class="col-xl-6">
                                            <div class="gen-tag-line"><span></span></div>
                                            <div class="gen-movie-info">
                                                <h3>@banner.ten_phim</h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul>
                                                    <li class="gen-sen-rating">
                                                        <span class="content-rating-tag" style="cursor: help;">@banner.content_rating.ten_rating</span>
                                                    </li>
                                                    <li>@banner.thoi_luong phút</li>
                                                    <li>
                                                        @Html.FormatValue(banner.ngay_cong_chieu, "{0:dd/MM/yyyy}")
                                                    </li>
                                                    <li>
                                                        @foreach (var theloai in dbmovie.list_phim_theloai.Where(t => t.id_phim == banner.id))
                                                        {
                                                            <a href="#0" style=" border-radius: 6px; margin-right:3px"><span>@theloai.the_loai_phim.ten_the_loai</span></a>
                                                        }
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="gen-movie-action"  style="padding-top: 5px; padding-bottom: 5px; height: 128px; transition-delay: .7s;">
                                                <a class="overflow-text-4">@Html.Raw(banner.chi_tiet)</a>
                                            </div>
                                            <div class="gen-movie-action" style="margin-top:10px">
                                                <div class="gen-btn-container button-1">
                                                    <a href="@Url.Action("MovieDetail","Movie", new {id=banner.slug })" class="gen-button" style="border-radius: 40px;">
                                                        <span class="text">Chi tiết</span>
                                                    </a>
                                                </div>
                                                <div class="gen-btn-container button-2">
                                                    <a href="@banner.trailer"
                                                       class="gen-button popup-youtube popup-vimeo popup-gmaps gen-button-link">
                                                        <i aria-hidden="true" class="ion ion-play"></i> <span class="text">Trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Banner End -->
<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">Phim</h2>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        Đang chiếu
                    </li>
                    <li>
                        Sắp chiếu
                    </li>
                    @*<li>
                            exclusive
                        </li>*@
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">

                        @foreach (var movie in dbmovie.phims.Where(m => m.status == 1 && m.loai_phim_chieu == 1).OrderByDescending(x => x.ngay_cong_chieu))
                        {
                            if (count >= 10)
                            {
                                count = 1;
                                break;

                            }
                            else
                            {
                                count++;
                            }
                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("MovieDetail","Movie", new { id=movie.slug })">
                                            <img src="~/images/movies/@movie.anh" alt="movie" width="250" height="350">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("MovieDetail","Movie", new { id=movie.slug })" class="title-movie-home overflow-text-2">@movie.ten_phim</a>
                                        </h5>
                                        <ul class="movie-rating-percent">
                                            @*<li>
                                                    <div class="thumb">
                                                        <img src="~/Frontend/Client/assets/images/movie/tomato.png" alt="movie">
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="~/Frontend/Client/assets/images/movie/cake.png" alt="movie">
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>*@
                                            <li style=" margin-left: auto;">
                                                <span class="content">@Html.FormatValue(movie.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        @foreach (var moviesoon in dbmovie.phims.Where(m => m.status == 1 && m.loai_phim_chieu == 2).OrderByDescending(x => x.ngay_cong_chieu))
                        {
                            if (count2 >= 10)
                            {
                                count2 = 1;
                                break;

                            }
                            else
                            {
                                count2++;
                            }

                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("MovieDetail","Movie", new { id=moviesoon.slug })">
                                            <img src="~/images/movies/@moviesoon.anh" alt="movie" width="250" height="350">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("MovieDetail","Movie", new { id=moviesoon.slug })" class="title-movie-home overflow-text-2">@moviesoon.ten_phim</a>
                                        </h5>
                                        <ul class="movie-rating-percent">
                                            <li style=" margin-left: auto;">
                                                <span class="content">@Html.FormatValue(moviesoon.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
<!-- ==========Event-Section========== -->
<section class="event-section padding-top padding-bottom bg-four">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">Sự kiện</h2>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        Ưu đãi
                    </li>
                    @*<li>
                            Điện ảnh
                        </li>*@
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <!-- slide cho ưu đãi-->
                    <div class="owl-carousel owl-theme tab-slider">
                        @{CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
                        @foreach (var item in db.su_kien.OrderByDescending(x => x.create_at))
                        {
                            <div class="item">
                                <div class="event-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("NewsDetail","News", new {id = item.id })">
                                            <img src="~/images/news/@item.anh" alt="event" height="260" style=" object-fit: cover; ">
                                        </a>
                                        @*<div class="event-date">
                                                <h6 class="date-title">28</h6>
                                                <span>Dec</span>
                                            </div>*@
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("NewsDetail","News", new {id = item.id })" class="title-movie-home overflow-text-2">@item.tieu_de</a>
                                        </h5>
                                        <div class="movie-rating-percent">
                                            <span style="margin-left: auto;">@Html.FormatValue(item.create_at, "{0:dd/MM/yyyy}")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        @*    @foreach (var item in db.su_kien.SqlQuery("SELECT * FROM su_kien ORDER BY create_at DESC"))
                            {
                                <div class="item">
                                    <div class="event-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="@Url.Action("NewsDetail","News", new {id = item.id })">
                                                <img src="~/images/news/@item.anh" alt="event" height="260" style=" object-fit: cover; ">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="@Url.Action("NewsDetail","News", new {id = item.id })">@item.tieu_de</a>
                                            </h5>
                                            <div class="movie-rating-percent">
                                                <span>@item.create_at</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.homepageac').addClass('active');
    }
    window.onload = codeAddress;
</script>

