
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Banner-Section========== -->
<!-- banner: slide 1 bộ phim ( tên phim, tình trạng, mô tả, trailer, đặt vé  ) Chưa xong-->
<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="~/Frontend/Client/assets/images/banner/banner01.jpg"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title  cd-headline clip">
                <span class="d-block">book your</span> tickets for
                <span class="color-theme cd-words-wrapper p-0 m-0">
                    <b class="is-visible">Movie</b>
                    <b>Event</b>
                    <b>Sport</b>
                </span>
            </h1>
            <p>Safe, secure, reliable ticketing.Your ticket to live entertainment!</p>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Ticket-Search========== -->
<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="./assets/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">welcome to Boleto </h6>
                        <h3 class="title">what are you looking for</h3>
                    </div>
                </div>
                <div class="col-lg-6 mb-20">
                    <ul class="tab-menu ticket-tab-menu">
                        <li class="active">
                            <div class="tab-thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/ticket-tab01.png" alt="ticket">
                            </div>
                            <span>movie</span>
                        </li>
                        <li>
                            <div class="tab-thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/ticket-tab02.png" alt="ticket">
                            </div>
                            <span>events</span>
                        </li>
                        <li>
                            <div class="tab-thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/ticket-tab03.png" alt="ticket">
                            </div>
                            <span>sports</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Search fo Movies">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">city</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">date</span>
                            <select class="select-bar">
                                <option value="26-12-19">23/10/2019</option>
                                <option value="26-12-19">24/10/2019</option>
                                <option value="26-12-19">25/10/2019</option>
                                <option value="26-12-19">26/10/2019</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">cinema</span>
                            <select class="select-bar">
                                <option value="Awaken">Awaken</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="tab-item">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Search fo Events">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">city</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">date</span>
                            <select class="select-bar">
                                <option value="26-12-19">23/10/2019</option>
                                <option value="26-12-19">24/10/2019</option>
                                <option value="26-12-19">25/10/2019</option>
                                <option value="26-12-19">26/10/2019</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">event</span>
                            <select class="select-bar">
                                <option value="angular">angular</option>
                                <option value="startup">startup</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="Last-First">Last-First</option>
                                <option value="wish">wish</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="tab-item">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Search fo Sports">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">city</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">date</span>
                            <select class="select-bar">
                                <option value="26-12-19">23/10/2019</option>
                                <option value="26-12-19">24/10/2019</option>
                                <option value="26-12-19">25/10/2019</option>
                                <option value="26-12-19">26/10/2019</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">sports</span>
                            <select class="select-bar">
                                <option value="football">football</option>
                                <option value="cricket">cricket</option>
                                <option value="cabadi">cabadi</option>
                                <option value="madrid">madrid</option>
                                <option value="gadon">gadon</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Ticket-Search========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">Phim</h2>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        Đang chiếu
                    </li>
                    <li>
                        Sắp chiếu
                    </li>
                    @*<li>
                            exclusive
                        </li>*@
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">
                        @{ 
                            int count = 1;
                            CinemaBooking.Models.CinemaBookingEntities dbmovie = new CinemaBooking.Models.CinemaBookingEntities();}
                        @foreach (var movie in dbmovie.phims.Where(m => m.status == 1 && m.loai_phim_chieu == 1).OrderByDescending(x => x.ngay_cong_chieu))
                        {
                            if (count >= 10)
                            {
                                count = 1;
                                break;

                            }
                            else
                            {
                                count++;
                            }
                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("MovieDetail","Movie", new { id=movie.slug })">
                                            <img src="~/images/movies/@movie.anh" alt="movie" width="250" height="350">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("MovieDetail","Movie", new { id=movie.slug })" class="title-movie-home overflow-text-2">@movie.ten_phim</a>
                                        </h5>
                                        <ul class="movie-rating-percent">
                                            @*<li>
                                                <div class="thumb">
                                                    <img src="~/Frontend/Client/assets/images/movie/tomato.png" alt="movie">
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="~/Frontend/Client/assets/images/movie/cake.png" alt="movie">
                                                </div>
                                                <span class="content">88%</span>
                                            </li>*@
                                            <li>
                                                <span class="content">@Html.FormatValue(movie.ngay_cong_chieu,"{0:dd/MM/yyyy}")</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        @foreach (var moviesoon in dbmovie.phims.Where(m => m.status == 1 && m.loai_phim_chieu == 2).OrderByDescending(x=>x.ngay_cong_chieu))
                        {
                            if (count >= 10)
                            {
                                count = 1;
                                break;

                            }
                            else
                            {
                                count++;
                            }

                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("MovieDetail","Movie", new { id=moviesoon.slug })">
                                            <img src="~/images/movies/@moviesoon.anh" alt="movie" width="250" height="350">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("MovieDetail","Movie", new { id=moviesoon.slug })" class="title-movie-home overflow-text-2">@moviesoon.ten_phim</a>
                                        </h5>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <span class="content">@Html.FormatValue(moviesoon.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
<!-- ==========Event-Section========== -->
<section class="event-section padding-top padding-bottom bg-four">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">Sự kiện</h2>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        Ưu đãi
                    </li>
                    @*<li>
                        Điện ảnh
                    </li>*@
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <!-- slide cho ưu đãi-->
                    <div class="owl-carousel owl-theme tab-slider">
                        @{CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
                        @foreach (var item in db.su_kien.OrderByDescending(x=>x.create_at))
                          {
                            <div class="item">
                                <div class="event-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("NewsDetail","News", new {id = item.id })">
                                            <img src="~/images/news/@item.anh" alt="event"  height="260" style=" object-fit: cover; ">
                                        </a>
                                        @*<div class="event-date">
                                            <h6 class="date-title">28</h6>
                                            <span>Dec</span>
                                        </div>*@
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("NewsDetail","News", new {id = item.id })">@item.tieu_de</a>
                                        </h5>
                                        <div class="movie-rating-percent">
                                            <span>@item.create_at</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                    @*    @foreach (var item in db.su_kien.SqlQuery("SELECT * FROM su_kien ORDER BY create_at DESC"))
                        {
                            <div class="item">
                                <div class="event-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("NewsDetail","News", new {id = item.id })">
                                            <img src="~/images/news/@item.anh" alt="event" height="260" style=" object-fit: cover; ">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("NewsDetail","News", new {id = item.id })">@item.tieu_de</a>
                                        </h5>
                                        <div class="movie-rating-percent">
                                            <span>@item.create_at</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.homepageac').addClass('active');
    }
    window.onload = codeAddress;
</script>

