
@{
    ViewBag.Title = "Hyper Cinema | Trang chủ";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@{ int count = 1; int count2 = 1; int b = 0; CinemaBooking.Models.CinemaBookingEntities dbmovie = new CinemaBooking.Models.CinemaBookingEntities();}

<style>
    .event-search::before, .search-tab::before {
        background-image: none;
    }

    .search-tab .tab-area::before {
        opacity: 1;
        background-color: #011122;
    }
</style>
<!-- ==========Banner-Section========== -->
<!-- owl-carousel Banner Start -->
<section class="pt-0 pb-0">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="gen-banner-movies">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true"
                         data-desk_num="1" data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1"
                         data-autoplay="true" data-loop="true" data-margin="30">
                        @foreach (var banner in dbmovie.phims.Where(x => x.status == 1 && x.loai_phim_chieu == 1).OrderByDescending(x => x.ngay_cong_chieu))
                        {
                            if (b == 5)
                            {
                                break;
                            }
                            <div class="item" style="background: url('../../images/movies/background/@banner.anhbackground')">
                                <div class="gen-movie-contain h-100">
                                    <div class="container h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6" style="padding-top: 47px;">
                                                <div class="gen-tag-line"><span></span></div>
                                                <div class="gen-movie-info">
                                                    <h3>@banner.ten_phim</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <li class="gen-sen-rating">
                                                            <span class="content-rating-tag" style="cursor: help;">@banner.content_rating.ten_rating</span>
                                                        </li>
                                                        <li>@banner.thoi_luong phút</li>
                                                        <li>
                                                            @Html.FormatValue(banner.ngay_cong_chieu, "{0:dd/MM/yyyy}")
                                                        </li>
                                                        <li>
                                                            @foreach (var theloai in dbmovie.list_phim_theloai.Where(t => t.id_phim == banner.id))
                                                            {
                                                                <a href="#0" style=" border-radius: 6px; margin-right:3px"><span>@theloai.the_loai_phim.ten_the_loai</span></a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gen-movie-action" style="padding-top: 5px; padding-bottom: 5px; height: 128px; transition-delay: .7s;">
                                                    <a class="overflow-text-4">@Html.Raw(banner.chi_tiet)</a>
                                                </div>
                                                <div class="gen-movie-action" style="margin-top:10px">
                                                    <div class="gen-btn-container button-1">
                                                        <a href="@Url.Action("MovieDetail","Movie", new {id=banner.slug })" class="gen-button" style="border-radius: 40px;">
                                                            <span class="text">Chi tiết</span>
                                                        </a>
                                                    </div>
                                                    <div class="gen-btn-container button-2">
                                                        <a href="@banner.trailer"
                                                           class="gen-button popup-youtube popup-vimeo popup-gmaps gen-button-link">
                                                            <i aria-hidden="true" class="ion ion-play"></i> <span class="text">Trailer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            b++;
                        }
                        <div class="item" style="background: url('../../images/news/@ViewBag.sk.anh')">
                            <div class="gen-movie-contain h-100">
                                <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                        <div class="col-xl-6" style="padding-top: 47px;">
                                            <div class="gen-tag-line"><span></span></div>
                                            <div class="gen-movie-info">
                                                <h3>@ViewBag.sk.tieu_de</h3>
                                            </div>

                                            <div class="gen-movie-action" style="padding-top: 5px; padding-bottom: 5px; height: 128px; transition-delay: .7s;">
                                                <a class="overflow-text-4">@Html.Raw(ViewBag.sk.noi_dung)</a>
                                            </div>
                                            <div class="gen-movie-action" style="margin-top:10px">
                                                <div class="gen-btn-container button-1">
                                                    <a href="@Url.Action("NewsDetail","News", new {id= ViewBag.sk.slug })" class="gen-button" style="border-radius: 40px;">
                                                        <span class="text">Chi tiết</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4" style="margin-left:auto">
                                            <a href="@Url.Action("NewsDetail","News", new {id = ViewBag.sk.slug })">
                                                <img src="~/images/news/@ViewBag.sk.anh" alt="event" height="550" style="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Banner End -->
<!--Book ticket fast-->
<!-- ==========Ticket-Search========== -->
<section class="search-ticket-section">
    <div class="container">
        <div class="search-tab">
            <div class="tab-area">
                <div class="tab-item active">
                    <form class="ticket-search-form contact-form">
                        <div class="form-group">
                            <a style="font-weight:bold; padding-right:0;">ĐẶT VÉ NHANH</a>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">Rạp</span>
                            <select class="select-bar" id="cinemalist">
                                <option value="0">Chọn rạp</option>
                                @foreach (var i in ViewBag.cinema)
                                {
                                    <option value="@i.id">@i.ten_rap</option>
                                }
                            </select>
                        </div>
                        <div class="form-group" id="film">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">Phim</span>
                            <select class="select-bar" id="filmlist">
                                <option value="0">Chọn phim</option>
                            </select>
                        </div>
                        <div class="form-group" id="date">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">Ngày: </span>
                            <select class="select-bar" id="datelist">
                                <option value="0">Chọn Ngày</option>
                            </select>
                        </div>
                        <div class="form-group" id="time">
                            <div class="thumb">
                                <img src="~/Frontend/Client/assets/images/ticket/exp.png" alt="ticket">
                            </div>
                            <span class="type">Giờ chiếu</span>
                            <select class="select-bar" id="timelist">
                                <option value="0">Chọn giờ</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="button" class="custom-button back-button text-center" value="MUA VÉ" style="padding:10px; height:40px" id="bookseat">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Ticket-Search========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-section padding-bottom" style="padding-top: 35px !important; padding-bottom: 100px !important; background-image: -webkit-linear-gradient( 270deg, #05050a45 17%, #0e0c0c87 63%, #010917 100%); ">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">Phim</h2>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        Đang chiếu
                    </li>
                    <li>
                        Sắp chiếu
                    </li>
                    @*<li>
                            exclusive
                        </li>*@
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">

                        @foreach (var movie in dbmovie.phims.Where(m => m.status == 1 && m.loai_phim_chieu == 1).OrderByDescending(x => x.ngay_cong_chieu))
                        {
                            if (count >= 10)
                            {
                                count = 1;
                                break;

                            }
                            else
                            {
                                count++;
                            }
                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("MovieDetail","Movie", new { id=movie.slug })">
                                            <img src="~/images/movies/@movie.anh" alt="movie" width="250" height="350">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0" style="padding: 14px 0px;">
                                            <a href="@Url.Action("MovieDetail","Movie", new { id=movie.slug })" class="title-movie-home overflow-text-2">@movie.ten_phim</a>
                                        </h5>
                                        <ul class="movie-rating-percent" style="padding: 5px 0px;">
                                            <li style=" margin: auto;">
                                                <span class="content">Công chiếu: @Html.FormatValue(movie.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        @foreach (var moviesoon in dbmovie.phims.Where(m => m.status == 1 && m.loai_phim_chieu == 2).OrderByDescending(x => x.ngay_cong_chieu))
                        {
                            if (count2 >= 10)
                            {
                                count2 = 1;
                                break;

                            }
                            else
                            {
                                count2++;
                            }

                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("MovieDetail","Movie", new { id=moviesoon.slug })">
                                            <img src="~/images/movies/@moviesoon.anh" alt="movie" width="250" height="350">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="@Url.Action("MovieDetail","Movie", new { id=moviesoon.slug })" class="title-movie-home overflow-text-2">@moviesoon.ten_phim</a>
                                        </h5>
                                        <ul class="movie-rating-percent">
                                            <li style=" margin: auto;">
                                                <span class="content">@Html.FormatValue(moviesoon.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
<!-- ==========Event-Section========== -->
<section class="event-section padding-bottom bg-four" style="padding-top: 35px !important; background-image: -webkit-linear-gradient( 88deg, #01172c 17%, #20151578 63%, #0c0b0b9c 100%); ">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">Sự kiện</h2>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        Ưu đãi
                    </li>
                    @*<li>
                            Điện ảnh
                        </li>*@
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <!-- slide cho ưu đãi-->
                    <div class="owl-carousel owl-theme tab-slider">
                        @{CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
                        @foreach (var item in db.su_kien.OrderByDescending(x => x.create_at))
                        {
                            <div class="item">
                                <div class="event-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a href="@Url.Action("NewsDetail","News", new {slug = item.slug })">
                                            <img src="~/images/news/@item.anh" alt="event" height="345" style="">
                                        </a>
                                        @*<div class="event-date">
                                                <h6 class="date-title">28</h6>
                                                <span>Dec</span>
                                            </div>*@
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0" style="padding: 13px 0px;">
                                            <a href="@Url.Action("NewsDetail","News", new {slug = item.slug })" class="title-movie-home overflow-text-2">@item.tieu_de</a>
                                        </h5>
                                        @*<div class="movie-rating-percent" style="padding: 5px 0px;">
                                                <span style="margin-left: auto;">@Html.FormatValue(item.create_at, "{0:dd/MM/yyyy}")</span>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        @*    @foreach (var item in db.su_kien.SqlQuery("SELECT * FROM su_kien ORDER BY create_at DESC"))
                            {
                                <div class="item">
                                    <div class="event-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="@Url.Action("NewsDetail","News", new {id = item.id })">
                                                <img src="~/images/news/@item.anh" alt="event" height="260" style=" object-fit: cover; ">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="@Url.Action("NewsDetail","News", new {id = item.id })">@item.tieu_de</a>
                                            </h5>
                                            <div class="movie-rating-percent">
                                                <span>@item.create_at</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.homepageac').addClass('active');
    }
    window.onload = codeAddress;
</script>

@section Scripts{
    <script>
        $(document).ready(function () {
            var listfilmnull = '<option value="0">Chọn phim</option>';
            var listdatenull = '<option value="0">Chọn ngày</option>';
            var listulnull = "";
            var listtimenull = '<option value="0">Chọn giờ</option>';
            $('#cinemalist').change(function () {
                var id = $("#cinemalist option:selected").val();
                loadFilm(id);
                //Chuyển film đã chọn thành value 0
                $('#film .current').html(listfilmnull);
                //Chuyển ngày đã chọn thành value 0 và list ngày null
                $('#date .current').html(listdatenull);
                $('#date .list').html(listulnull);
                //Chuyển time đã chọn thành value 0 và list time null
                $('#time .current').html(listdatenull);
                $('#time .list').html(listulnull);
            });

            $('#filmlist').change(function () {
                var idfilm = $("#filmlist option:selected").val();
                loadDate(idfilm);
                //Chuyển ngày đã chọn thành value 0
                $('#date .current').html(listdatenull);
                //Chuyển time đã chọn thành value 0 và list time null
                $('#time .current').html(listdatenull);
                $('#time .list').html(listulnull);
            });

            $('#datelist').change(function () {
                var idcinema = $("#cinemalist option:selected").val();
                var filmid = $("#filmlist option:selected").val();
                var date = $("#datelist option:selected").val();
                loadTime(idcinema,filmid,date);
                //Chuyển time đã chọn thành value 0
                $('#time .current').html(listtimenull);
            });

            //load to book seat
            $('#bookseat').click(function () {
                //var idcinemachecked = $("#cinemalist option:selected").val();
                //var idfilmchecked = $("#filmlist option:selected").val();
                var idcinema = $("#cinemalist option:selected").val();
                var filmid = $("#filmlist option:selected").val();
                var checktimee = $('#time .list .selected').data('value');
                var datee = $("#datelist option:selected").val();
                var idtimechecked = $("#timelist option:selected").val();
                if (checktimee == 0 || checktimee == undefined) {
                    //toastr.warning("Bạn chưa chọn suất chiếu");
                    alert("Bạn chưa chọn suất chiếu");
                }
                else {
                    CheckShowTime(idcinema, filmid, datee, idtimechecked);
                    //var url = "/Movie/BookSeat?idd=" + idscchecked + "&idtimee=" + idtimechecked;
                    //checkLogin(url);
                }
            });

            function loadFilm(id) {
                $.ajax({
                    url: '/Home/loadFilm/',
                    type: 'GET',
                    data: {
                        id: id,
                    },
                    success: function (res) {
                        if (res.count != null) {
                            var idfilm = res.idfilm;
                            var filmname = res.filmname;
                            var listul = "";
                            var html = "";
                            //html += '<option value="0">'+"Chọn phim"+'</option>';
                            for (let i = 0; i < res.count; i++) {
                                html += '<option value="' + idfilm[i] + '">' + filmname[i] + '</option>';
                                listul += '<li data-value="' + idfilm[i] + '" class="option focus">' + filmname[i] +'</li>'
                            }
                            $('#filmlist').html(html);
                            $('#film .list').html(listul);
                        }
                    }
                })
            }


            function loadDate(id) {
                $.ajax({
                    url: '/Home/loadDate/',
                    type: 'GET',
                    data: {
                        id: id,
                    },
                    success: function (res) {
                        if (res.count != null) {
                            var idsc = res.idsc;
                            var date = res.date;
                            var listul = "";
                            var html = "";
                            //html += '<option value="0">'+"Chọn phim"+'</option>';
                            for (let i = 0; i < res.count; i++) {
                                html += '<option value="' + idsc[i] + '">' + date[i] + '</option>';
                                listul += '<li data-value="' + idsc[i] + '" class="option focus">' + date[i] + '</li>'
                            }
                            $('#datelist').html(html);
                            $('#date .list').html(listul);
                        }
                    }
                })
            }

            function loadTime(idcinema,filmid,date) {
                $.ajax({
                    url: '/Home/loadTime/',
                    type: 'GET',
                    data: {
                        idcinema: idcinema,
                        filmid : filmid,
                        date: date,
                    },
                    success: function (res) {
                        if (res.count != null) {
                            var idtime = res.idtime;
                            var time = res.time;
                            var listul = "";
                            var html = "";
                            //html += '<option value="0">'+"Chọn phim"+'</option>';
                            for (let i = 0; i < res.count; i++) {
                                html += '<option value="' + idtime[i] + '">' + time[i] + '</option>';
                                listul += '<li data-value="' + idtime[i] + '" class="option focus">' + time[i] + '</li>'
                            }
                            $('#timelist').html(html);
                            $('#time .list').html(listul);
                        }
                    }
                })
            }


            function CheckShowTime(idcinema, filmid, date, idt) {
                $.ajax({
                    url: '/Home/CheckShowTime/',
                    type: 'GET',
                    data: {
                        idcinema: idcinema,
                        filmid: filmid,
                        date: date,
                        idt: idt,
                    },
                    success: function (res) {
                        if (res.idsc != null) {
                            var url = "/Movie/BookSeat?idd=" + res.idsc + "&idtimee=" + res.idtime;
                            checkLogin(url);
                        }
                    }
                })
            }


            //check
            function checkLogin(url) {
                $.ajax({
                    url: '/Home/checkLogin/',
                    type: 'POST',
                    data: {
                        url: url,
                    },
                    success: function (res) {
                        if (res.success == false) {
                            var host = window.location.protocol+ "//" + window.location.host;
                            window.location.href = "/User/checkLink?url=" + host + url;
                        }
                        else if (res.success == true) {
                            window.location.href = url;
                        }
                    }
                })
            }

        });
    </script>

}