@model CinemaBooking.Models.dao_dien
@{
    ViewBag.Title = Model.ho_ten;
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<!-- ==========Preloader========== -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#0" class="scrollToTop">
    <i class="fas fa-angle-up"></i>
</a>
<!-- ==========Banner-Section========== -->
<section class="speaker-banner bg_img" data-background="../../images/banner/empty-cinema-768x293.jpg">
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Speaker-Single========== -->
<section class="speaker-single padding-top pt-lg-0">
    <div class="container">
        <div class="speaker-wrapper bg-six">
            <div class="speaker-thumb">
                <img src="~/images/information/@Model.anh" alt="speaker" style="height: 373px; width: fit-content;">
                <h3 class="titleactor">Thông tin cá nhân</h3>
                <dl>
                    <dt>Ngày sinh</dt>
                    <dd>@Html.FormatValue(Model.ngay_sinh, "{0:dd/MM/yyyy}")</dd>
                    <dt>Nơi sinh</dt>
                    <dd>@Model.quoc_tich</dd>
                </dl>

            </div>
            <div class="speaker-content">
                <div class="author">
                    <h2 class="title" style="text-align: center;">@Model.ho_ten </h2>
                    <h6 style="margin-bottom:15px">Tiểu sử :</h6>
                    <div class="info">@Html.Raw(Model.mo_ta)</div>
                </div>
                <h6 style=" margin-bottom: 7px; margin-top: 55px;">Các phim đã tham gia</h6>
                <div class="actor-list-movies">
                    @{CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
                    @foreach (var item in db.phims.Where(x => x.id == Model.id))
                    {
                        <div class="thumb-list-movie" style="padding: 15px; flex: none; width: 25%; ">
                            <a href="@Url.Action("MovieDetail", "Movie", new { id = item.slug })">
                                <img src="~/images/movies/@item.anh" alt="@item.ten_phim" style="height: auto; max-width: 100%;">
                            </a>
                            <dl class="overflow-text-2" style="height: 52px; margin-bottom: 0px">
                                <dt>@item.ten_phim</dt>
                            </dl>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Single========== -->
<!-- ==========Speaker-Section========== -->
<section class="speaker-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-3">
            <span class="cate">listen to the</span>
            <h2 class="title">event speakers</h2>
            <p>
                World is committed to making participation in the event a harassment free experience for
                everyone, regardless of level of experience, gender, gender identity and expression
            </p>
        </div>
        <div class="speaker--slider">
            <div class="speaker-slider owl-carousel owl-theme">
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker01.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Gerard Bryan
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker02.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Raihan Rafuj
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker03.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Bela Bose
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker04.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Grass Hopper
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
            </div>
            <div class="speaker-prev">
                <i class="flaticon-double-right-arrows-angles"></i>
            </div>
            <div class="speaker-next">
                <i class="flaticon-double-right-arrows-angles"></i>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.informationac').addClass('active');
    }
    window.onload = codeAddress;
</script>