@model IEnumerable<CinemaBooking.Models.ghe_ngoi>
@{
    ViewBag.Title = "BookSeat";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@{ CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}

<!-- ==========Banner-Section========== -->
<section class="details-banner hero-area bg_img seat-plan-banner" data-background="/Frontend/Client/assets/images/banner/banner04.jpg">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content style-two">
                <h3 class="title">@ViewBag.tenphim.ten_phim</h3>
                <div class="tags">
                    <a>@ViewBag.tenphim.thoi_luong phút</a>
                    <a>@ViewBag.tenphim.ngon_ngu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Page-Title========== -->
<section class="page-title bg-one">
    <div class="container">
        <div class="page-title-area">
            <div class="item md-order-1">
                <input type="button" onclick="window.history.go(-1)" class="custom-button back-button" value="Trở về">
                
            </div>
            <div class="item date-item">
                <span class="date">MON, SEP 09 2020</span>
                <select class="select-bar">
                    <option value="sc1">09:40</option>
                    <option value="sc2">13:45</option>
                    <option value="sc3">15:45</option>
                    <option value="sc4">19:50</option>
                </select>
            </div>
            <div class="item">
                <h5 class="title">05:00</h5>
                <p>Mins Left</p>
            </div>
        </div>
    </div>
</section>
<!-- ==========Page-Title========== -->
<!-- ==========Movie-Section========== -->
<div class="seat-plan-section padding-bottom padding-top">
    <div class="container">
        <div class="screen-area">
            <h4 class="screen">Màn hình</h4>
            <div class="screen-thumb">
                <img src="/Frontend/Client/assets/images/movie/screen-thumb.png" alt="movie">
            </div>
            <h5 class="subtitle"></h5>
            <div class="screen-wrapper">
                <ul class="seat-area">
                    @*<li class="seat-line">
                            <span>G</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>G</span>
                        </li>*@


                    @{ var count = 0; }
                    @foreach (var item in ViewBag.ghe)
                    {
                        if (item.Col == 1)
                        {
                            <li class="seat-line">
                                <span>@item.Row</span>
                                <ul class="seat--area" style="width: calc(70% - 60 px );">
                                    @foreach (var it in Model.Where(m => m.Row == item.Row))
                                    {
                                        if (it.Col == 1)
                                        {
                                            <li class="front-seat">
                                                <ul>
                                                    @foreach (var seat3 in Model.Where(m => m.Row == item.Row))
                                                    {
                                                        if (seat3.Col <= 3)
                                                        {
                                                            { count = 0; }
                                                            foreach (var igdd in ViewBag.idghedat)
                                                            {
                                                                if (seat3.id == igdd)
                                                                {

                                                                    { count = 1; }

                                                                }
                                                            }

                                                            if (count == 0)
                                                            {
                                                                <li class="single-seat seat-free-two UnAct" data-ten="@seat3.Row@seat3.Col" data-idghe="@seat3.id" id="@seat3.Row@seat3.Col">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01-free.png" alt="seat" class="ghe-@seat3.Row@seat3.Col">
                                                                    <span class="sit-num">@seat3.Row@seat3.Col</span>
                                                                </li>
                                                            }
                                                            else if (count == 1)
                                                            {
                                                                <li class="single-seat">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                                                </li>
                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (it.Col == 4)
                                        {
                                            <li class="front-seat">
                                                <ul>
                                                    @foreach (var seat7 in Model.Where(m => m.Row == item.Row))
                                                    {
                                                        if (seat7.Col >= 4 && seat7.Col <= 7)
                                                        {
                                                            { count = 0; }
                                                            foreach (var igdd in ViewBag.idghedat)
                                                            {
                                                                if (seat7.id == igdd)
                                                                {

                                                                    { count = 1; }

                                                                }
                                                            }

                                                            if (count == 0)
                                                            {
                                                                <li class="single-seat seat-free-two UnAct" data-ten="@seat7.Row@seat7.Col" id="@seat7.Row@seat7.Col" data-idghe="@seat7.id">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01-free.png" alt="seat" class="ghe-@seat7.Row@seat7.Col">
                                                                    <span class="sit-num">@seat7.Row@seat7.Col</span>
                                                                </li>
                                                            }
                                                            else if (count == 1)
                                                            {
                                                                <li class="single-seat">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (it.Col == 8)
                                        {
                                            <li class="front-seat">
                                                <ul>
                                                    @foreach (var seat10 in Model.Where(m => m.Row == item.Row))
                                                    {
                                                        if (seat10.Col >= 8 && seat10.Col <= 10)
                                                        {
                                                            { count = 0; }
                                                            foreach (var igdd in ViewBag.idghedat)
                                                            {
                                                                if (seat10.id == igdd)
                                                                {

                                                                    { count = 1; }

                                                                }
                                                            }

                                                            if (count == 0)
                                                            {
                                                                <li class="single-seat seat-free-two UnAct" data-ten="@seat10.Row@seat10.Col" data-idghe="@seat10.id" id="@seat10.Row@seat10.Col">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01-free.png" alt="seat" class="ghe-@seat10.Row@seat10.Col">
                                                                    <span class="sit-num">@seat10.Row@seat10.Col</span>
                                                                </li>
                                                            }
                                                            else if (count == 1)
                                                            {
                                                                <li class="single-seat">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }

                                    }

                                </ul>
                                <span>@item.Row</span>
                            </li>
                        }
                    }
            </div>
        </div>
        <div class="proceed-book bg_img" data-background="/Frontend/Client/assets/images/movie/movie-bg-proceed.jpg">
            <div class="proceed-to-book">
                <div class="book-item">
                    <span>Ghế đã chọn:</span>
                    <input type="text" style="width:500px" readonly class="title" id="tenghe" />
                    <input type="hidden" style="width:500px" readonly class="title" id="idgheinput" />
                    <input type="hidden" style="width:500px" readonly class="title" id="idtime" value="@ViewBag.idtime"/>
                    <input type="hidden" style="width:500px" readonly class="title" id="idsc" value="@ViewBag.idsc"/>
                </div>
                <div class="book-item">
                    <span>Tổng giá</span>
                    <input type="text" readonly style="width:100px" class="title" id="giatien" value="0" />
                    VNĐ
                </div>
                <div class="book-item">
                    <a @*href="@Url.Action("CheckOut","Movie", new { id = @ViewBag.idtime, idtime = @ViewBag.idsc})"*@ class="custom-button" id="checkout">Tiếp</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Movie-Section========== -->

@section Scripts
{
    <script>

        $(document).ready(function () {
            $('body').on('click', '.UnAct', function () {
                var tenghe = $(this).data('ten');
                var idghe = $(this).data('idghe');
                // them ten ghe
                $('#tenghe').val($('#tenghe').val() + tenghe + " ");
                //them id ghe
                if ($('#idgheinput').val() == "") {
                    $('#idgheinput').val($('#idgheinput').val() + idghe);
                }
                else {
                    $('#idgheinput').val($('#idgheinput').val() + "," + idghe);
                }              
                var id = "#" + tenghe;
                var imgid = "." + "ghe-" + tenghe;
                $(imgid).attr("src", "/Frontend/Client/assets/images/movie/seat01-booked.png");
                var tien = $('#giatien').val();
                var dongia = "75000";
                var tongtien = parseInt(tien) + parseInt(dongia);
                $('#giatien').val(tongtien);
                $(id).removeClass('UnAct').addClass('Act');
            });

            $('body').on('click', '.Act', function () {
                var tenghe = $(this).data('ten');
                var idghen = $(this).data('idghe');
                dataval = $('#tenghe').val();
                dataidghe = $('#idgheinput').val();
                //var data = dataval.split(',');
                //var ghedadat;
                //for (let i = 0; i < data.length; i++) {
                //    if (JSON.stringify(data[i]) == tenghe) {
                //        data.splice(i);
                //    }

                //}
                //debugger;
                //for (let j = 0; j < length.data; j++) {
                //    ghedadat += data[j] + ",";
                //}
                // sửa id ghế
                var check = ",";
                if (dataidghe.indexOf(check) != -1) {
                    if (dataidghe.indexOf("," + idghen) != -1) {
                        var idghedadat = dataidghe.replace("," + idghen, '');
                    }
                    else {
                        var idghedadat = dataidghe.replace(idghen + ",", '');
                    }
                }
                else {
                   var idghedadat = dataidghe.replace(idghen, '');
                }

                // sửa tên ghế
                let ghedadat = dataval.replace(tenghe + " ", '');
                $('#tenghe').val(ghedadat);
                $('#idgheinput').val(idghedadat);
                var imgid = "." + "ghe-" + tenghe;
                $(imgid).attr("src", "/Frontend/Client/assets/images/movie/seat01-free.png");
                var id = "#" + tenghe;


                $(id).removeClass('Act').addClass('UnAct');
                var tien = $('#giatien').val();
                var dongia = "75000";
                var tongtien = parseInt(tien) - parseInt(dongia);
                $('#giatien').val(tongtien);
            });

            $('body').on('click', '#checkout', function () {
                var idg = $('#idgheinput').val();
                var idtime = $('#idtime').val();
                var idsc = $('#idsc').val();
                window.location.href = '/Movie/CheckOut/' + idsc + '?idtime=' + idtime + '&idg=' + idg;
            });
        });

    </script>

}