@model IEnumerable<CinemaBooking.Models.ghe_ngoi>
@{
    ViewBag.Title = "BookSeat";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@{ int idsc = ViewBag.idsc;
    CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}

<!-- ==========Banner-Section========== -->
<section class="details-banner hero-area bg_img seat-plan-banner" style=" padding-top: 40px; padding-bottom: 30px;" @*data-background="../../images/movies/background/@ViewBag.tenphim.anhbackground"*@>
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content style-two">
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Page-Title========== -->
<!--<section class="page-title bg-one" style=" padding: 15px 0px">
    <div class="container">
        <div class="page-title-area">
            <div class="item md-order-1">
                <input type="button" onclick="window.history.go(-1)" class="custom-button back-button" value="Trở về">

            </div>

            <div class="item date-item">
                <div class="tags">
                    <a class="bookseat-taskbar">@ViewBag.tenphim.ten_phim</a>
                </div>-->
                @*<span class="date">@Html.FormatValue(@ViewBag.ngaychieu, "{0:dd/MM/yyyy}")</span>*@
                @*<select class="select-bar">
                        <option value="sc1">09:40</option>
                        <option value="sc2">13:45</option>
                        <option value="sc3">15:45</option>
                        <option value="sc4">19:50</option>
                    </select>*@
            <!--</div>
            <div class="item">-->
                @*<h5 class="title">05:00</h5>
        <p>Mins Left</p>*@
                <!--<a class="bookseat-taskbar">Giờ chiếu: @ViewBag.giochieu</a>
                <br />
                <a class="bookseat-taskbar">Ngày @Html.FormatValue(@ViewBag.ngaychieu, "{0:dd/MM/yyyy}")</a>
                <br />
                <a class="bookseat-taskbar">Thời lượng: @ViewBag.tenphim.thoi_luong phút</a>
            </div>
        </div>
    </div>
</section>-->
<!-- ==========Page-Title========== -->
<!-- ==========Movie-Section========== -->
<div class="seat-plan-section padding-bottom">
    <div class="container">
        <div class="screen-area">
            <div class="page-title-area">
                <div class="item ">
                    <input type="button" onclick="window.history.go(-1)" class="custom-button back-button" style="font-weight: 700; background-image: -webkit-linear-gradient( 169deg, #181e72 17%, #523a82 63%, #ef0d0da3 100%); " value="Trở về">
                </div>

                <div class="item " style=" margin-left: 6%;">
                    @*<span style="font-size: 21px;">Tên phim:</span>*@ <a style="font-size: 24px; padding: 10px; background: #233d7e; border-radius: 14px; font-weight: 700;">
                    @ViewBag.tenphim.ten_phim</a>
                </div>
                <div class="item">
                    @*<h5 class="title">05:00</h5>
                <p>Mins Left</p>*@
                    <a class="bookseat-taskbar">Giờ chiếu: @ViewBag.giochieu</a>
                    <br />
                    <a class="bookseat-taskbar">Ngày @Html.FormatValue(@ViewBag.ngaychieu, "{0:dd/MM/yyyy}")</a>
                    <br />
                    <a class="bookseat-taskbar">Thời lượng: @ViewBag.tenphim.thoi_luong phút</a>
                </div>
            </div>
            <h4 class="screen" @*style="width:250px"*@>Màn hình</h4>
            <div class="screen-thumb">
                <img src="/Frontend/Client/assets/images/movie/screen-thumb.png" alt="movie">
            </div>
            <h5 class="subtitle"></h5>
            <div class="screen-wrapper">
                <ul class="seat-area">

                    @{ var count = 0; }
                    @foreach (var item in ViewBag.ghe)
                    {
                        if (item.Col == 1)
                        {
                            <li class="seat-line" style=" width: 50%; margin: auto;">
                                <span>@item.Row</span>
                                <ul class="seat--area" style="width: calc(70% - 60 px );">
                                    @foreach (var it in Model.Where(m => m.Row == item.Row))
                                    {
                                        if (it.Col == 1)
                                        {
                                            <li class="front-seat">
                                                <ul>
                                                    @foreach (var seat3 in Model.Where(m => m.Row == item.Row))
                                                    {
                                                        if (seat3.Col <= 3)
                                                        {
                                                            { count = 0; }
                                                            foreach (var igdd in ViewBag.idghedat)
                                                            {
                                                                if (seat3.id == igdd)
                                                                {

                                                                    { count = 1; }

                                                                }
                                                            }

                                                            if (count == 0)
                                                            {
                                                                <li class="single-seat seat-free-two UnAct" data-ten="@seat3.Row@seat3.Col" data-idghe="@seat3.id" id="@seat3.Row@seat3.Col">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01-free.png" alt="seat" class="ghe-@seat3.Row@seat3.Col">
                                                                    <span class="sit-num">@seat3.Row@seat3.Col</span>
                                                                </li>
                                                            }
                                                            else if (count == 1)
                                                            {
                                                                <li class="single-seat">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                                                </li>
                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (it.Col == 4)
                                        {
                                            <li class="front-seat">
                                                <ul>
                                                    @foreach (var seat7 in Model.Where(m => m.Row == item.Row))
                                                    {
                                                        if (seat7.Col >= 4 && seat7.Col <= 7)
                                                        {
                                                            { count = 0; }
                                                            foreach (var igdd in ViewBag.idghedat)
                                                            {
                                                                if (seat7.id == igdd)
                                                                {

                                                                    { count = 1; }

                                                                }
                                                            }

                                                            if (count == 0)
                                                            {
                                                                <li class="single-seat seat-free-two UnAct" data-ten="@seat7.Row@seat7.Col" id="@seat7.Row@seat7.Col" data-idghe="@seat7.id">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01-free.png" alt="seat" class="ghe-@seat7.Row@seat7.Col">
                                                                    <span class="sit-num">@seat7.Row@seat7.Col</span>
                                                                </li>
                                                            }
                                                            else if (count == 1)
                                                            {
                                                                <li class="single-seat">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (it.Col == 8)
                                        {
                                            <li class="front-seat">
                                                <ul>
                                                    @foreach (var seat10 in Model.Where(m => m.Row == item.Row))
                                                    {
                                                        if (seat10.Col >= 8 && seat10.Col <= 10)
                                                        {
                                                            { count = 0; }
                                                            foreach (var igdd in ViewBag.idghedat)
                                                            {
                                                                if (seat10.id == igdd)
                                                                {

                                                                    { count = 1; }

                                                                }
                                                            }

                                                            if (count == 0)
                                                            {
                                                                <li class="single-seat seat-free-two UnAct" data-ten="@seat10.Row@seat10.Col" data-idghe="@seat10.id" id="@seat10.Row@seat10.Col">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01-free.png" alt="seat" class="ghe-@seat10.Row@seat10.Col">
                                                                    <span class="sit-num">@seat10.Row@seat10.Col</span>
                                                                </li>
                                                            }
                                                            else if (count == 1)
                                                            {
                                                                <li class="single-seat">
                                                                    <img src="/Frontend/Client/assets/images/movie/seat01.png" alt="seat">
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }

                                    }

                                </ul>
                                <span>@item.Row</span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
            <div class="proceed-book bg_img" data-background="/Frontend/Client/assets/images/movie/movie-bg-proceed.jpg">
                <div class="proceed-to-book">
                    <div class="book-item">
                        <span>Ghế đã chọn:</span>
                        <input type="text" style="width:500px" readonly class="title" id="tenghe" />
                        <input type="hidden" style="width:500px" readonly class="title" id="idgheinput" />
                        <input type="hidden" style="width:500px" readonly class="title" id="idtime" value="@ViewBag.idtime" />
                        <input type="hidden" style="width:500px" readonly class="title" id="idsc" value="@ViewBag.idsc" />
                    </div>
                    <div class="book-item">
                        <span>Tổng giá</span>
                        <input  type="hidden" readonly style="width:100px" class="title" id="giatien" value="0" />
                        <a class="title" readonly style="width:100px;border: 0.5px solid groove;" id="giatienshow">0</a>
                        VNĐ
                    </div>
                    <div class="book-item">
                        <button @*href="@Url.Action("CheckOut","Movie", new { id = @ViewBag.idtime, idtime = @ViewBag.idsc})"*@ class="custom-button" id="checkout">Tiếp</button>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- ==========Movie-Section========== -->

@section Scripts
{
    <script>

        $(document).ready(function () {
            $('body').on('click', '.UnAct', function () {
                var tenghe = $(this).data('ten');
                var idghe = $(this).data('idghe');
                // them ten ghe
                $('#tenghe').val($('#tenghe').val() + tenghe + " ");
                //them id ghe
                if ($('#idgheinput').val() == "") {
                    $('#idgheinput').val($('#idgheinput').val() + idghe);
                }
                else {
                    $('#idgheinput').val($('#idgheinput').val() + "," + idghe);
                }              
                var id = "#" + tenghe;
                var imgid = "." + "ghe-" + tenghe;
                $(imgid).attr("src", "/Frontend/Client/assets/images/movie/seat01-booked.png");
                var tien = $('#giatien').val();
                var dongia = "75000";
                var tongtien = parseInt(tien) + parseInt(dongia);
                function format1(n, currency) {
                    return currency + n.toFixed(0).replace(/./g, function (c, i, a) {
                        return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "." + c : c;
                    });
                }
                $('#giatien').val(tongtien);
                document.getElementById("giatienshow").textContent = format1(tongtien,"");
                $(id).removeClass('UnAct').addClass('Act');
            });

            $('body').on('click', '.Act', function () {
                var tenghe = $(this).data('ten');
                var idghen = $(this).data('idghe');
                dataval = $('#tenghe').val();
                dataidghe = $('#idgheinput').val();
                //var data = dataval.split(',');
                //var ghedadat;
                //for (let i = 0; i < data.length; i++) {
                //    if (JSON.stringify(data[i]) == tenghe) {
                //        data.splice(i);
                //    }

                //}
                //debugger;
                //for (let j = 0; j < length.data; j++) {
                //    ghedadat += data[j] + ",";
                //}
                // sửa id ghế
                var check = ",";
                if (dataidghe.indexOf(check) != -1) {
                    if (dataidghe.indexOf("," + idghen) != -1) {
                        var idghedadat = dataidghe.replace("," + idghen, '');
                    }
                    else {
                        var idghedadat = dataidghe.replace(idghen + ",", '');
                    }
                }
                else {
                   var idghedadat = dataidghe.replace(idghen, '');
                }

                // sửa tên ghế
                let ghedadat = dataval.replace(tenghe + " ", '');
                $('#tenghe').val(ghedadat);
                $('#idgheinput').val(idghedadat);
                var imgid = "." + "ghe-" + tenghe;
                $(imgid).attr("src", "/Frontend/Client/assets/images/movie/seat01-free.png");
                var id = "#" + tenghe;


                $(id).removeClass('Act').addClass('UnAct');
                var tien = $('#giatien').val();
                var dongia = "75000";
                var tongtien = parseInt(tien) - parseInt(dongia);
                function format1(n, currency) {
                    return currency + n.toFixed(0).replace(/./g, function (c, i, a) {
                        return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "." + c : c;
                    });
                }
                format1(tongtien);
                
                $('#giatien').val(tongtien);
                document.getElementById("giatienshow").textContent = format1(tongtien,"");
            });

            $('body').on('click', '#checkout', function () {
                var idg = $('#idgheinput').val();
                var idtime = $('#idtime').val();
                var idsc = $('#idsc').val();
                window.location.href = '/Movie/CheckOut/' + idsc + '?idtime=' + idtime + '&idg=' + idg;
            });
        });

    </script>

}