@model CinemaBooking.Models.suat_chieu
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@{ CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}

@{
    var kh = @ViewBag.kh;
    var time = @ViewBag.time;
    var ghengoi = @ViewBag.idghengoi;
    var sl = @ViewBag.soluongh;
}


<!-- ==========Banner-Section========== -->
@*<section class="details-banner hero-area bg_img seat-plan-banner" data-background="/Frontend/Client/assets/images/banner/banner04.jpg">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title">Venus</h3>
                    <div class="tags">
                        <a href="#0">City Walk</a>
                        <a href="#0">English - 2D</a>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- ==========Banner-Section========== -->
<!-- ==========Page-Title========== -->
<section class="page-title bg-one" style="margin-top:60px">
    <div class="container">
        <div class="page-title-area">
            <div class="item md-order-1">
                <input type="button" onclick="window.history.go(-1)" class="custom-button back-button" value="Trở về">
            </div>
            @* <div class="item date-item">
                    <span class="date">MON, SEP 09 2020</span>
                    <select class="select-bar">
                        <option value="sc1">09:40</option>
                        <option value="sc2">13:45</option>
                        <option value="sc3">15:45</option>
                        <option value="sc4">19:50</option>
                    </select>
                </div>
                <div class="item">
                    <h5 class="title">05:00</h5>
                    <p>Mins Left</p>
                </div>*@
        </div>
    </div>
</section>


<!-- ==========Page-Title========== -->
<!-- ==========Movie-Section========== -->
<div class="movie-facility padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!--<div class="checkout-widget d-flex flex-wrap align-items-center justify-cotent-between">
            <div class="title-area">
                <h5 class="title">Already a Boleto  Member?</h5>
                <p>Sign in to earn points and make booking easier!</p>
            </div>
            <a href="#0" class="sign-in-area">-->
                @*<i class="fas fa-user"></i><span>Sign in</span>*@
                <!--</a>
            </div>-->
                <div class="checkout-widget checkout-contact">
                    <h5 class="title">Thông tin tài khoản thanh toán</h5>
                    <form class="checkout-contact-form">
                        <div class="form-group">
                            <input type="text" placeholder="Tên" value="@kh.ho_ten" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Mail" value="@kh.email" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="sdt" readonly value="@kh.sdt">
                        </div>
                        @*                        <div class="form-group">
                            <input type="submit" value="Continue" class="custom-button">
                        </div>*@
                    </form>
                </div>
                @*<div class="checkout-widget checkout-contact">
                    <h5 class="title">Promo Code </h5>
                    <form class="checkout-contact-form">
                        <div class="form-group">
                            <input type="text" placeholder="Please enter promo code">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Verify" class="custom-button">
                        </div>
                    </form>
                </div>*@

                <div class="checkout-widget checkout-card mb-0">
                    <h5 class="title">Phương thức thanh toán</h5>
                    <ul class="payment-option">
                        @*<li class="active">
                            <a href="#0">
                                <img src="/Frontend/Client/assets/images/payment/card.png" alt="payment">
                                <span>Credit Card</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <img src="/Frontend/Client/assets/images/payment/card.png" alt="payment">
                                <span>Debit Card</span>
                            </a>
                        </li>*@
                        <li class="active" id="paypal">
                            <a href="#0" style="width:120px">
                                <img src="/Frontend/Client/assets/images/payment/paypal.png" alt="payment">
                                <span>paypal</span>
                            </a>
                        </li>

                        <li class="" id="momo">
                            <a href="#0" style="width:120px">
                                <img src="/Frontend/Client/assets/images/payment/momo.png" alt="payment">
                                <span style="display:none">momo</span>
                            </a>
                        </li>

                        <li class="" id="taiquay">
                            <a href="#0" style="width:120px">

                                <span style="font-weight:bold">Thanh toán tại quầy</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="booking-summery bg-one">
                    <h4 class="title">Hóa đơn</h4>
                    <ul>
                        <li>
                            <h6 class="subtitle">@Model.phim.ten_phim</h6>
                            <span class="info">@Model.phim.ngon_ngu</span>
                            <span class="info">@Model.phim.thoi_luong phút</span>
                        </li>
                        <li>
                            <h6 class="subtitle"><span>Phòng chiếu: @Model.phong_chieu.ten_phong</span><span>@*02*@</span></h6>
                            <div class="info"><span>@Html.FormatValue(@Model.ngay_chieu, "{0:dd/MM/yyyy}"),@time.Time </span>@* <span>Tickets</span>*@</div>
                        </li>
                        <li>
                            <h6 class="subtitle mb-0"><span>Giá vé</span><span>75,000 ₫</span></h6>
                        </li>
                    </ul>
                    <ul class="side-shape">
                        <li>
                            <h6 class="subtitle"><span>Số lượng</span><span></span></h6>
                            <span class="info"><span>@sl vé</span></span>
                        </li>
                        <li>
                            <h6 class="subtitle">
                                <span>
                                    Vị trí:
                                    @{ var dem = 0;}
                                    @foreach (var item in ghengoi)
                                    {
                                        dem++;
                                        var phay = ", ";
                                        var id = Convert.ToInt32(item);
                                        var seat = db.ghe_ngoi.Find(id);
                                        if (dem == sl)
                                        {
                                            @seat.Row@seat.Col
                                        }
                                        else
                                        {
                                            @seat.Row@seat.Col@phay
                                        }

                                    }
                                </span>
                            </h6>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span class="info"><span>Tổng tiền</span><span>@Html.Raw(String.Format("{0:0,0} ₫", @Math.Round(Convert.ToDouble(sl) * 75000)))</span></span>
                            @*<span class="info"><span>vat</span><span>$15</span></span>*@
                        </li>
                    </ul>
                </div>
                <div class="proceed-area  text-center">
                    <h6 class="subtitle"><span>Tổng: </span><span>@Html.Raw(String.Format("{0:0,0} ₫", @Math.Round(Convert.ToDouble(sl) * 75000)))</span></h6>
                    <a href="#0" class="custom-button back-button" id="confirm">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>
<form style="display: none" action="/Movie/withpay" method="POST" id="hiddenformwithpay">
    @{ var tinh = 0;
    }
    <input type="text" value="@foreach (var item in ghengoi)
                                    {
                                        tinh++;
                                        var ph = ",";
                                        if (tinh == sl)
                                        {
                                            @item
                                        }
                                        else
                                        {
                                            @item@ph
                                        }

                                    }" id="idghe" name="idghe" />
    <input type="text" value="@time.id" id="idtime" name="idtime" />
    <input type="text" value="@Model.id" id="idsuatc" name="idsuatc" />
</form>

@*<form style="display: none" action="/Movie/MomoPay" method="POST" id="Momo">
    @{ var t = 0;
    }
    <input type="text" value="@foreach (var item in ghengoi)
                                    {
                                        t++;
                                        var ph = ",";
                                        if (t == sl)
                                        {
                                            @item
                                        }
                                        else
                                        {
                                            @item@ph
                                        }

                                    }" id="idghe" name="idghe" />
    <input type="text" value="@time.id" id="idtime" name="idtime" />
    <input type="text" value="@Model.id" id="idsuatc" name="idsuatc" />
</form>*@

@*<form style="display: none" action="/Movie/CreatePay" method="POST" id="hiddenformCreate">
        @{ var t = 0;
        }
        <input type="text" value="@foreach (var it in ghengoi)
                                        {
                                            t++;
                                            var p = ",";
                                            if (t == sl)
                                            {
                                                @it
                                            }
                                            else
                                            {
                                                @it@p
                                            }

                                        }" id="idghee" />
        <input type="text" value="@time.id" id="idtimee" />
        <input type="text" value="@Model.id" id="idsuatch" />
    </form>*@
<!-- ==========Movie-Section========== -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '#confirm', function () {
                var pttt = $('.active a span').text();
                if (pttt == "paypal") {
                    document.getElementById('hiddenformwithpay').action = "/Movie/withpay";
                    document.getElementById('hiddenformwithpay').submit();
                }
                else if (pttt == "momo") {
                    document.getElementById('hiddenformwithpay').action = "/Movie/MomoPay";
                    document.getElementById('hiddenformwithpay').submit();
                }
                else if (pttt == "Thanh toán tại quầy") {
                    document.getElementById('hiddenformwithpay').action = "/Movie/ReceptionPay";
                    document.getElementById('hiddenformwithpay').submit();
                }


                //document.getElementById('hiddenformCreate').submit();
            });


            $("#paypal").click(function () {
                $("li").removeClass("active");
                var element = document.getElementById("paypal");
                element.classList.add("active");
            });

            $("#momo").click(function () {
                $("li").removeClass("active");
                var element = document.getElementById("momo");
                element.classList.add("active");
            });

            $("#taiquay").click(function () {
                $("li").removeClass("active");
                var element = document.getElementById("taiquay");
                element.classList.add("active");
            });

        });
    </script>
}