@model PagedList.IPagedList<CinemaBooking.Models.phim>
@using PagedList.Mvc
@{
    ViewBag.Title = "Sắp chiếu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@{ CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
<!-- ==========Movie-Section========== -->
<section class="movie-section padding-bottom" style="padding-top:87px">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-2">
                <div class="widget-1 widget-check" style="margin-top: 70px">
                    <div class="widget-1-body">
                        <h6 class="subtitle">Thể loại   </h6>
                        <div class="check-area">
                            @foreach (var itemtheloai in db.the_loai_phim)
                            {

                                <div class="form-group">
                                    <input type="checkbox" name="theloai" id="@itemtheloai.id" value="@itemtheloai.id">
                                    @if (ViewBag.category == @itemtheloai.id)
                                    {
                                        <label for="@itemtheloai.id">@Html.ActionLink(@itemtheloai.ten_the_loai, "ComingSoon", "Movie", new { page = 1 }, new { @style = "color:white;" })</label>

                                    }
                                    else
                                    {
                                        <label for="@itemtheloai.id">@Html.ActionLink(@itemtheloai.ten_the_loai, "ComingSoon", "Movie", new { page = 1, category = @itemtheloai.id }, new { @style = "color:white;" })</label>

                                    }

                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <div class="filter-area" style="border: none;">
                        <div class="filter-main">
                            <div class="left">

                            </div>
                            <ul class="grid-button tab-menu">
                                <li class="active">
                                    <i class="fas fa-th"></i>
                                </li>
                                <li>
                                    <i class="fas fa-bars"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-area">
                        <div class="tab-item active">
                            <div class="row mb-10">
                                <!--Check nếu không có phim nào trong thể loại này-->
                                @if (Model.Count() == 0)
                                {
                                    <h3 class="title" style=" overflow: hidden; text-align: center;padding:20px">
                                        Hiện thể loại này chưa có phim nào đang chiếu :(
                                    </h3>
                                }
                                @foreach (var item in Model)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="movie-grid">
                                            <div class="movie-thumb c-thumb">
                                                <a href="@Url.Action("MovieDetail", "Movie", new { id = item.slug })">
                                                    <img src="~/images/movies/@item.anh" alt="movie" style="height:483px">
                                                </a>
                                            </div>
                                            <div class="movie-content bg-one">
                                                <h5 class="title m-0">
                                                    <a href="@Url.Action("MovieDetail", "Movie", new { id = item.slug })" class="overflow-text-2" style=" height: 63px;">@item.ten_phim</a>
                                                </h5>
                                                <ul class="movie-rating-percent">
                                                    <li style=" margin: auto;">
                                                        <span class="content">Công chiếu: @Html.FormatValue(item.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="movie-area mb-10">
                                <!--Check nếu không có phim nào trong thể loại này-->
                                @if (Model.Count() == 0)
                                {
                                    <h3 class="title" style=" overflow: hidden; text-align: center;padding:20px">
                                        Hiện thể loại này chưa có phim nào đang chiếu :(
                                    </h3>
                                }
                                @foreach (var mov in Model)
                                {
                                    <div class="movie-list">
                                        <div class="movie-thumb c-thumb">
                                            <a href="@Url.Action("MovieDetail", "Movie", new { id = mov.slug })" class="w-100 bg_img h-100" data-background="/Frontend/Client/assets/images/movie/movie01.jpg">
                                                <img src="~/images/movies/@mov.anh" alt="movie" style="height: 370px;" class="image-scale-06">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title">
                                                <a href="@Url.Action("MovieDetail", "Movie", new { id = mov.slug })">@mov.ten_phim</a>
                                            </h5>
                                            @if (@mov.thoi_luong != null)
                                            {
                                                <p class="duration">Thời lượng: @mov.thoi_luong phút</p>
                                            }
                                            else
                                            {
                                                <p class="duration">Thời lượng: chưa xác định!</p>
                                            }


                                            <div class="movie-tags">
                                                @foreach (var theloai in db.list_phim_theloai.Where(t => t.id_phim == mov.id))
                                                {
                                                    <a href="@Url.Action("ComingSoon","Movie",new { page = 1, category = theloai.id_theloai })" class="type-movie-grid">@theloai.the_loai_phim.ten_the_loai</a>

                                                }
                                            </div>
                                            <div class="release">
                                                <span>Công chiếu : </span> <a> @Html.FormatValue(mov.ngay_cong_chieu, "{0:dd/MM/yyy}")</a>
                                            </div>
                                            <div style="padding-top: 5px; padding-bottom: 5px; height: 128px; ">
                                                <a class="overflow-text-4">@Html.Raw(mov.chi_tiet)</a>
                                            </div>
                                            <div class="book-area">
                                                <div class="book-ticket">
                                                    <div class="book-ticket-grid">
                                                        <a href="@mov.trailer" class="video-popup gen-button gen-button-link ">
                                                            <i class="ion ion-play button-trailer-grid"></i>
                                                            <span>Trailer</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area text-center">
                        @if (Model.Count() > 0)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("ComingSoon", "Movie", new { page, category = ViewBag.category }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.movieac').addClass('active');
        document.getElementById("taskbar-movie").innerHTML = "Sắp chiếu";
        setTimeout(() => {
            var x = null;
            $('input[name="theloai"]').each(function () {
            if (this.value == '@ViewBag.category') {
                $(this).prop('checked', true);
            }
        })
        }, 300);
    }
    window.onload = codeAddress;
</script>