@model CinemaBooking.Models.phim

@{
    ViewBag.Title = Model.ten_phim;
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@{ CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
<!-- ==========Banner-Section========== -->
<section class="details-banner bg_img" data-background="../../images/movies/banner/The-Conjuring-3.jpg">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-thumb">
                <img src="~/images/movies/@Model.anh" alt="movie">
                <a href="@Model.trailer" class="video-popup">
                    <img src="~/Frontend/Client/assets/images/movie/video-button.png" alt="movie">
                </a>
            </div>
            <div class="details-banner-content offset-lg-3">
                <h3 class="title">@Model.ten_phim</h3>
                @*<div class="tags">
                        <a href="#0">English</a>
                        <a href="#0">Hindi</a>
                        <a href="#0">Telegu</a>
                        <a href="#0">Tamil</a>
                    </div>*@

                @foreach (var theloai in db.list_phim_theloai.Where(t => t.id_phim == Model.id))
                {
                    <a href="#0" class="button">@theloai.the_loai_phim.ten_the_loai</a>
                }

                <div class="social-and-duration">
                    <div class="duration-area">
                        <div class="item">
                            <i class="fas fa-calendar-alt"></i><span>@Html.FormatValue(@Model.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                        </div>
                        <div class="item">
                            <i class="far fa-clock"></i><span>@Model.thoi_luong phút</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Book-Section========== -->
<section class="book-section bg-one">
    <div class="container">
        <div class="book-wrapper offset-lg-3">
            <div class="left-side">
                <div class="item">
                    <div class="item-header">
                        <div class="thumb">
                            <img src="~/Frontend/Client/assets/images/movie/tomato2.png" alt="movie">
                        </div>
                        <div class="counter-area">
                            <span class="counter-item odometer" data-odometer-final="88">0</span>
                        </div>
                    </div>
                    <p>tomatometer</p>
                </div>
                <div class="item">
                    <div class="item-header">
                        <div class="thumb">
                            <img src="~/Frontend/Client/assets/images/movie/cake2.png" alt="movie">
                        </div>
                        <div class="counter-area">
                            <span class="counter-item odometer" data-odometer-final="88">0</span>
                        </div>
                    </div>
                    <p>audience Score</p>
                </div>
                <div class="item">
                    <div class="item-header">
                        <h5 class="title">4.5</h5>
                        <div class="rated">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <p>Users Rating</p>
                </div>
                @*<div class="item">
                        <div class="item-header">
                            <div class="rated rate-it">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-heart"></i>
                            </div>
                            <h5 class="title">0.0</h5>
                        </div>
                        <p><a href="#0">Rate It</a></p>
                    </div>*@
            </div>
            <a href="@Url.Action("BookTicket", "Movie")" class="custom-button">Đặt vé</a>
        </div>
    </div>
</section>
<!-- ==========Book-Section========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-details-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center flex-wrap-reverse mb--50">
            <div class="col-lg-3 col-sm-10 col-md-6 mb-50">
                <div class="widget-1 widget-tags">
                    <ul>
                        <li>
                            <a href="#0">2D</a>
                        </li>
                        <li>
                            <a href="#0">imax 2D</a>
                        </li>
                        <li>
                            <a href="#0">4DX</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 mb-50">
                <div class="movie-details">
                    <!--Photo here-->
                    <!--<h3 class="title">photos</h3>
                        <div class="details-photos owl-carousel">
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details01.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details01.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details02.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details02.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details03.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details03.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details01.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details01.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details02.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details02.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details03.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details03.jpg" alt="movie">
                                </a>
                            </div>
                        </div>-->
                    <div class="tab summery-review">
                        <ul class="tab-menu">
                            <li class="active">
                                Chi Tiết Phim
                            </li>
                            <li>
                                Review <span>@ViewBag.RatesCount</span>
                            </li>
                        </ul>
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="item">
                                    <h5 class="sub-title">Tóm tắt</h5>
                                    @Html.Raw(Model.chi_tiet)
                                </div>
                                <div class="item">
                                    <div class="header">
                                        <h5 class="sub-title">Diễn viên</h5>
                                        <div class="navigation">
                                            <div class="cast-prev"><i class="flaticon-double-right-arrows-angles"></i></div>
                                            <div class="cast-next"><i class="flaticon-double-right-arrows-angles"></i></div>
                                        </div>
                                    </div>
                                    <div class="casting-slider owl-carousel">
                                        @{CinemaBooking.Models.CinemaBookingEntities x = new CinemaBooking.Models.CinemaBookingEntities();}
                                        @foreach (var ad in x.list_phim_dienvien.Where(a => a.id_phim == Model.id))
                                        {

                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="@Url.Action("ActorDetail","Information", new { id= ad.dien_vien.slug })">
                                                        <img src="~/images/information/@ad.dien_vien.anh" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="@Url.Action("ActorDetail","Information", new { id= ad.dien_vien.slug })">@ad.dien_vien.ho_ten</a></h6>
                                                    @*<span class="cate">actor</span>
                                                        <p>As Richie Tozier</p>*@
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <!--<div class="item">
                                    <div class="header">
                                        <h5 class="sub-title">crew</h5>
                                        <div class="navigation">
                                            <div class="cast-prev-2"><i class="flaticon-double-right-arrows-angles"></i></div>
                                            <div class="cast-next-2"><i class="flaticon-double-right-arrows-angles"></i></div>
                                        </div>
                                    </div>
                                    <div class="casting-slider-two owl-carousel">
                                        <div class="cast-item">
                                            <div class="cast-thumb">
                                                <a href="#0">
                                                    <img src="~/Frontend/Client/assets/images/cast/cast05.jpg" alt="cast">
                                                </a>
                                            </div>
                                            <div class="cast-content">
                                                <h6 class="cast-title"><a href="#0">pete warren</a></h6>
                                                <span class="cate">actor</span>
                                            </div>
                                        </div>
                                        <div class="cast-item">
                                            <div class="cast-thumb">
                                                <a href="#0">
                                                    <img src="~/Frontend/Client/assets/images/cast/cast06.jpg" alt="cast">
                                                </a>
                                            </div>
                                            <div class="cast-content">
                                                <h6 class="cast-title"><a href="#0">howard bass</a></h6>
                                                <span class="cate">executive producer</span>
                                            </div>
                                        </div>
                                        <div class="cast-item">
                                            <div class="cast-thumb">
                                                <a href="#0">
                                                    <img src="~/Frontend/Client/assets/images/cast/cast07.jpg" alt="cast">
                                                </a>
                                            </div>
                                            <div class="cast-content">
                                                <h6 class="cast-title"><a href="#0">naomi smith</a></h6>
                                                <span class="cate">producer</span>
                                            </div>
                                        </div>
                                        <div class="cast-item">
                                            <div class="cast-thumb">
                                                <a href="#0">
                                                    <img src="~/Frontend/Client/assets/images/cast/cast08.jpg" alt="cast">
                                                </a>
                                            </div>
                                            <div class="cast-content">
                                                <h6 class="cast-title"><a href="#0">tom martinez</a></h6>
                                                <span class="cate">producer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="tab-item">
                                @foreach (var item in ViewBag.Rates)
                                {
                                    <div class="movie-review-item">
                                        <div class="author">
                                            <div class="thumb">
                                                <a href="#0">
                                                    <img src="~/Frontend/Client/assets/images/cast/cast02.jpg" alt="cast">
                                                </a>
                                            </div>
                                            <div class="movie-review-info">
                                                <span class="reply-date">@item.created_at</span>
                                                <h6 class="subtitle"><a href="#0">@item.ten_khachhang</a></h6>
                                                <span><i class="fas fa-check"></i> verified review</span>
                                            </div>
                                        </div>
                                        <div class="movie-review-content">
                                            <div class="review">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= item.rate)
                                                    {
                                                        <i class="flaticon-favorite-heart-button"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="flaticon-favorite-heart-button" style="color:#646464"></i>
                                                    }
                                                }

                                            </div>
                                            <h6 class="cont-title">Awesome Movie</h6>
                                            <p>
                                                @item.comment
                                            </p>
                                            <div class="review-meta">
                                                <a href="#0">
                                                    <i class="flaticon-hand"></i><span>8</span>
                                                </a>
                                                <a href="#0" class="dislike">
                                                    <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                                </a>
                                                <a href="#0">
                                                    Report Abuse
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <label for="rate">Đánh giá:</label>
                                <input id="rate" type="number" min="0" max="5" step="1" value="5" style="width:50px; height:30px" /><span class="fa fa-star checked"></span>
                                <br />
                                <textarea id="cmt" rows="5" cols="100"></textarea>
                                <br />
                                <button type="button" class="btn-primary" id="btnRate" data-id="@Model.id" title="Gửi" href="#">Gửi</button>
                            </div>




                            @*<div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="~/Frontend/Client/assets/images/cast/cast02.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="#0">minkuk seo</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="~/Frontend/Client/assets/images/cast/cast04.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="#0">rudra rai</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="~/Frontend/Client/assets/images/cast/cast01.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="#0">rafuj</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="~/Frontend/Client/assets/images/cast/cast03.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="#0">bela bose</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="load-more text-center">
                                    <a href="#0" class="custom-button transparent">load more</a>
                                </div>*@



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.movieac').addClass('active');
    }
    window.onload = codeAddress;
</script>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#btnRate').click(function () {
                var star = $('#rate').val();
                var cmt = $('#cmt').val();
                var movieID = $(this).data('id');
                var movieRate = {
                    rate: star,
                    comment: cmt,
                    movie_id: movieID
                };
                $.ajax({
                    url: '/Movie/AddRate',
                    type: 'POST',
                    data: movieRate,
                    success: function (res) {
                        if (res.success) {
                            window.location.reload();
                        }
                    }
                });
            });
        });
    </script>
}