@model CinemaBooking.Models.phim

@{
    ViewBag.Title = Model.ten_phim;
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@{ CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
<!-- ==========Banner-Section========== -->
<section class="details-banner bg_img" data-background="../../images/movies/background/@Model.anhbackground">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-thumb">
                <img src="~/images/movies/@Model.anh" alt="movie">
                <a href="@Model.trailer" class="video-popup">
                    <img src="~/Frontend/Client/assets/images/movie/video-button.png" alt="movie" style="background-color: #05020a45; border-radius: 50%; ">
                </a>
            </div>
            <div class="details-banner-content offset-lg-3">
                @if (Model.idrating != null)
                {
                    <h3 class="title" id="moviename" imdbid="@Model.idrating" style=" margin-bottom: 10px;">@Model.ten_phim</h3>
                }
                else
                {
                    <h3 class="title" id="moviename" imdbid="tt">@Model.ten_phim</h3>
                }
                @foreach (var theloai in db.list_phim_theloai.Where(t => t.id_phim == Model.id))
                {
                    <a href="@Url.Action("NowShowing","Movie",new { page = 1, category = theloai.id_theloai })" class="button">@theloai.the_loai_phim.ten_the_loai</a>
                }

                @*<div class="social-and-duration">
                    <div class="duration-area">
                        <div class="item">
                            <i class="fas fa-calendar-alt"></i><span>@Html.FormatValue(@Model.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                        </div>
                        <div class="item">
                            <i class="far fa-clock"></i><span>@Model.thoi_luong phút</span>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Book-Section========== -->
<section class="book-section bg-one" style="background-image: -webkit-linear-gradient( 1deg,#0e066a80,#1a142ec9,#e910104d);">
    <div class="container">
        <div class="book-wrapper offset-lg-3">
            <div class="left-side" style=" align-items: flex-start; flex-direction: column;">
                <div class="item">
                    <i class="fas fa-calendar-alt" style="font-weight: 300; font-size: 21px; color: #7e70cd; "> </i><a style="margin-left: 5px; font-weight: 600; font-family: 'Open Sans'; color: #00f7a0; font-style: italic; "> Khởi chiếu: </a><span> @Html.FormatValue(@Model.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                </div>
                <div class="item">
                    <i class="far fa-clock" style="font-weight: 600; font-size: 21px; color: #acb3d5; "> </i><a style="margin-left: 5px; font-weight: 600; font-family: 'Open Sans'; color: #00f7a0; font-style: italic; "> Thời lượng: </a><span> @Model.thoi_luong phút</span>
                </div>
                <div class="item">
                    <i class="fa fa-language" style="font-size: 25px; color: #cf84dd; "></i><a style="margin-left: 5px; font-weight: 600; font-family: 'Open Sans'; font-size: 17px; color: #00f7a0; font-style: italic; "> Ngôn ngữ: </a><span> @Model.ngon_ngu</span>
                </div>
                <div class="item"><span class="content-rating-tag" style="cursor: help;" title="@Model.content_rating.mo_ta">@Model.content_rating.ten_rating</span><a style="margin-left:5px"> @Model.content_rating.mo_ta</a></div>
                @*<div class="item">
                    <div class="item-header" style="cursor: help;" title="IMDb là một trang web trực tuyến lưu trữ những thông tin chi tiết về những bộ phim, diễn viên, đạo diễn, nhà sản xuất… nổi tiếng. Ngoài ra, IMDb còn là nơi tổng hợp những ý kiến đánh giá và xếp hạng về các yếu tố như kỹ thuật quay phim, bối cảnh, kịch bản, hiệu quả hình ảnh… của một tác phẩm điện ảnh. Các bộ phim trên IMDb được đánh giá với thang điểm 10, đó là điểm IMDb. Phim nhận được điểm IMDb cao tức là nó nhận được nhiều sự ủng hộ của khán giả.">
                        <a href="http://www.imdb.com/title/@Model.idrating" target="_blank">
                            <span style="cursor: help;" class="imdb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M44 13H4c-2.2 0-4 1.8-4 4v16c0 2.2 1.8 4 4 4h40c2.2 0 4-1.8 4-4V17c0-2.2-1.8-4-4-4z" fill="#ffc107"></path><path d="M28.102 18h-3.704v13.102h3.704c2 0 2.796-.403 3.296-.704.602-.398.903-1.097.903-1.796v-7.903c0-.898-.403-1.699-.903-2-.796-.5-1.097-.699-3.296-.699zm.699 10.3c0 .598-.7.598-1.301.598V20c.602 0 1.3 0 1.3.602zM33.8 18v13.3h2.802s.199-.902.398-.698c.398 0 1.5.597 2.2.597.698 0 1.1 0 1.5-.199.6-.398.698-.7.698-1.3v-7.802c0-1.097-1.097-1.796-2-1.796-.898 0-1.796.597-2.199.898v-3zm3.598 4.2c0-.4 0-.598.403-.598.199 0 .398.199.398.597v6.602c0 .398 0 .597-.398.597-.2 0-.403-.199-.403-.597zM22.7 31.3V18h-4.4l-.8 6.3-1.102-6.3h-4v13.3h2.903v-7.402l1.3 7.403h2l1.297-7.403v7.403zM7.602 18h3.097v13.3H7.602z" fill="#263238"></path></svg></span>
                        </a>
                        <div class="counter-area">
                            <span class="counter-item odometer" id="imdb-rating" data-odometer-final="">0</span><a style="margin-left:5px"> Đánh giá từ trang nước ngoài (tham khảo) </a>
                        </div>
                    </div>
                </div>*@
                <div class="item">
                    <div class="item-header">
                        <h5 class="title">4.5</h5>
                        <div class="rated">
                            <i class="fas fa-star" style="color: #ffc107 "></i>
                            <i class="fas fa-star" style="color: #ffc107 "></i>
                            <i class="fas fa-star" style="color: #ffc107 "></i>
                            <i class="fas fa-star" style="color: #ffc107 "></i>
                            <i class="fas fa-star-half" style="color: #ffc107 "></i>
                        </div>
                    </div>
                    <p>Đánh giá của người xem</p>
                </div>
                @*<div class="item">
            <div class="item-header">
                <div class="rated rate-it">
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <h5 class="title">0.0</h5>
            </div>
            <p><a href="#0">Rate It</a></p>
        </div>*@
            </div>
            @if (Model.loai_phim_chieu == 1)
            {
                <a href="@Url.Action("BookTicket", "Movie")" class="custom-button">Đặt vé</a>
            }

        </div>
    </div>
</section>
<!-- ==========Book-Section========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-details-section padding-bottom">
    <div class="container">
        <div class="row justify-content-center flex-wrap-reverse mb--50">
            <div class="col-lg-3 col-sm-10 col-md-6 mb-50">
                <div class="widget-1 widget-tags">

                </div>
            </div>
            <div class="col-lg-9 mb-50">
                <div class="movie-details">
                    <!--Photo here-->
                    <!--<h3 class="title">photos</h3>
                        <div class="details-photos owl-carousel">
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details01.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details01.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details02.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details02.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details03.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details03.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details01.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details01.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details02.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details02.jpg" alt="movie">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="~/Frontend/Client/assets/images/movie/movie-details03.jpg" class="img-pop">
                                    <img src="~/Frontend/Client/assets/images/movie/movie-details03.jpg" alt="movie">
                                </a>
                            </div>
                        </div>-->
                    <div class="tab summery-review">
                        <ul class="tab-menu">
                            <li class="active">
                                Chi Tiết Phim
                            </li>
                            <li>
                                Review <span>@ViewBag.RatesCount</span>
                            </li>
                        </ul>
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="item">
                                    <h5 class="sub-title">Tóm tắt</h5>
                                    @Html.Raw(Model.chi_tiet)
                                </div>
                                <div style="display: flex; flex-wrap: wrap;">
                                    <div class="item col-xl-2 col-lg-3 col-md-3 col-sm-4">
                                        <div class="director-moviedetail">
                                            <h5 class="header-director-moviedetail">Đạo diễn</h5>
                                        </div>
                                        <div class="" style="width: 150px;">
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="@Url.Action("DirectorDetail","Information", new { id= Model.dao_dien.slug })">
                                                        <img src="~/images/information/@Model.dao_dien.anh" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"> <a href="@Url.Action("DirectorDetail","Information", new { id= Model.dao_dien.slug })" style="width: 138px;">@Model.dao_dien.ho_ten</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item col-xl-10 col-lg-9 col-md-9 col-sm-9" style="border-left: 1px dashed #563e8c;">
                                        <div class="header">
                                            <h5 class="sub-title" style=" margin-left: 10px;">Diễn viên</h5>
                                            <div class="navigation">
                                                <div class="cast-prev"><i class="flaticon-double-right-arrows-angles"></i></div>
                                                <div class="cast-next"><i class="flaticon-double-right-arrows-angles"></i></div>
                                            </div>
                                        </div>
                                        <div class="casting-slider owl-carousel">
                                            @{CinemaBooking.Models.CinemaBookingEntities x = new CinemaBooking.Models.CinemaBookingEntities();}
                                            @foreach (var ad in x.list_phim_dienvien.Where(a => a.id_phim == Model.id))
                                            {

                                                <div class="cast-item">
                                                    <div class="cast-thumb">
                                                        <a href="@Url.Action("ActorDetail","Information", new { id= ad.dien_vien.slug })">
                                                            <img src="~/images/information/@ad.dien_vien.anh" alt="cast">
                                                        </a>
                                                    </div>
                                                    <div class="cast-content">
                                                        <h6 class="cast-title"><a href="@Url.Action("ActorDetail","Information", new { id= ad.dien_vien.slug })">@ad.dien_vien.ho_ten</a></h6>
                                                        @*<p>As Richie Tozier</p>*@
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-item">
                                <label for="rate" style="float: left;">Đánh giá:</label>
                                @foreach (var item in ViewBag.Rates)
                                {
                                    <div class="movie-review-item">
                                        <div class="author">
                                            <div class="thumb">
                                                <a href="#0">
                                                    <img src="~/Frontend/Client/assets/images/cast/cast02.jpg" alt="cast">
                                                </a>
                                            </div>
                                            <div class="movie-review-info">
                                                <span class="reply-date">@item.created_at</span>
                                                <h6 class="subtitle"><a href="#0">@item.ten_khachhang</a></h6>
                                                <span><i class="fas fa-check"></i> verified review</span>
                                            </div>
                                        </div>
                                        <div class="movie-review-content">
                                            <div class="review">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= item.rate)
                                                    {
                                                        <i class="fas fa-star" style="color: #ffc107"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-star" style="color:#646464"></i>
                                                    }
                                                }

                                            </div>
                                            <h6 class="cont-title">Awesome Movie</h6>
                                            <p>
                                                @item.comment
                                            </p>
                                            <div class="review-meta">
                                                <a href="#0">
                                                    <i class="flaticon-hand"></i><span>8</span>
                                                </a>
                                                <a href="#0" class="dislike">
                                                    <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                                </a>
                                                <a href="#0">
                                                    Report Abuse
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @*<input id="rate" type="number" min="0" max="5" step="1" value="5" style="width:50px; height:30px" /><span class="fa fa-star checked"></span>*@

                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" class="ratingss" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" class="ratingss" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" class="ratingss" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" class="ratingss" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" class="ratingss" />
                                    <label for="star1" title="text">1 star</label>
                                </div>

                                <br />
                                <textarea id="cmt" rows="5" cols="100" placeholder="Nhập bình luận ..."></textarea>
                                <br />
                                <button type="button" class="btn-primary" id="btnRate" data-id="@Model.id" title="Gửi" href="#">Gửi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ==========Movie-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.movieac').addClass('active');
    }
    window.onload = codeAddress;

</script>

@section scripts{
    <script>

        $(document).ready(function () {
            $('body').on('click', '.ratingss', function () {
                var star = $(this).val();
                $('#btnRate').click(function () {
                    var cmt = $('#cmt').val();
                    var movieID = $(this).data('id');
                    var movieRate = {
                        rate: star,
                        comment: cmt,
                        movie_id: movieID
                    };
                    $.ajax({
                        url: '/Movie/AddRate',
                        type: 'POST',
                        data: movieRate,
                        success: function (res) {
                            if (res.success) {
                                window.location.reload();
                            }
                        }
                    });
                });
            });
        });

    </script>

    <script>

    </script>
}