@model PagedList.IPagedList<CinemaBooking.Models.phim>
@using PagedList.Mvc

@{
    ViewBag.Title = "Đang chiếu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@{ CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}

<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-2">
                <div class="widget-1 widget-check" style="margin-top:50px">
                    <div class="widget-1-body">
                        <h6 class="subtitle">Thể loại   </h6>
                        <div class="check-area">
                            @foreach (var itemtheloai in db.the_loai_phim)
                            {
                                <div class="form-group">
                                    <input type="checkbox" name="theloai" id="@itemtheloai.id" value="@itemtheloai.id"><label for="@itemtheloai.id">@Html.ActionLink(@itemtheloai.ten_the_loai, "NowShowing", "Movie", new { page = 1, category = @itemtheloai.id }, new { @style = "color:white;" })</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <div class="filter-area">
                        <div class="filter-main">
                            <div class="left">
                                @*<div class="item">
                                        <span class="show">Show :</span>
                                        <select class="select-bar">
                                            <option value="12">12</option>
                                            <option value="15">15</option>
                                            <option value="18">18</option>
                                            <option value="21">21</option>
                                            <option value="24">24</option>
                                            <option value="27">27</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div class="item">
                                        <span class="show">Sort By :</span>
                                        <select class="select-bar">
                                            <option value="showing">now showing</option>
                                            <option value="exclusive">exclusive</option>
                                            <option value="trending">trending</option>
                                            <option value="most-view">most view</option>
                                        </select>
                                    </div>*@
                            </div>
                            <ul class="grid-button tab-menu">
                                <li class="active">
                                    <i class="fas fa-th"></i>
                                </li>
                                <li>
                                    <i class="fas fa-bars"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-area">
                        <div class="tab-item active">
                            <div class="row mb-10 justify-content-center">
                                @foreach (var item in Model)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="movie-grid">
                                            <div class="movie-thumb c-thumb">
                                                <a href="@Url.Action("MovieDetail", "Movie", new { id = item.slug })">
                                                    <img src="~/images/movies/@item.anh" alt="movie" style="height:483px">
                                                </a>
                                            </div>
                                            <div class="movie-content bg-one">
                                                <h5 class="title m-0">
                                                    <a href="@Url.Action("MovieDetail", "Movie", new { id = item.slug })" class="overflow-text-2" style=" height: 63px;">@item.ten_phim</a>
                                                </h5>

                                                <ul class="movie-rating-percent">
                                                    @* <li>
                                                            <div class="thumb">
                                                                <img src="/Frontend/Client/assets/images/movie/tomato.png" alt="movie">
                                                            </div>
                                                            <span class="content">88%</span>
                                                        </li>
                                                        <li>
                                                            <div class="thumb">
                                                                <img src="/Frontend/Client/assets/images/movie/cake.png" alt="movie">
                                                            </div>
                                                            <span class="content">88%</span>
                                                        </li>*@
                                                    <li style=" margin-left: auto;">
                                                        <span class="content">@Html.FormatValue(item.ngay_cong_chieu, "{0:dd/MM/yyyy}")</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="movie-area mb-10">

                                @foreach (var mov in Model)
                                {
                                    <div class="movie-list">
                                        <div class="movie-thumb c-thumb">
                                            <a href="@Url.Action("MovieDetail", "Movie", new { id = mov.slug })">
                                                <img src="~/images/movies/@mov.anh" alt="movie" style="height: 370px;" class="image-scale-06">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title">
                                                <a href="@Url.Action("MovieDetail", "Movie", new { id = mov.slug })">@mov.ten_phim</a>
                                            </h5>
                                            <p class="duration">@mov.thoi_luong phút</p>
                                            <div class="movie-tags">
                                                @foreach (var theloai in db.list_phim_theloai.Where(t => t.id_phim == mov.id))
                                                {
                                                    <a href="@Url.Action("NowShowing","Movie",new { page = 1, category = theloai.id_theloai })" class="type-movie-grid">@theloai.the_loai_phim.ten_the_loai</a>

                                                }
                                            </div>
                                            <div class="release">
                                                <span>Ngày công chiếu : </span> <a> @Html.FormatValue(mov.ngay_cong_chieu, "{0:dd/MM/yyy}")</a>
                                            </div>
                                            @*                                            <ul class="movie-rating-percent">
                                                    <li>
                                                        <div class="thumb">
                                                            <img src="/Frontend/Client/assets/images/movie/tomato.png" alt="movie">
                                                        </div>
                                                        <span class="content">88%</span>
                                                    </li>
                                                    <li>
                                                        <div class="thumb">
                                                            <img src="/Frontend/Client/assets/images/movie/cake.png" alt="movie">
                                                        </div>
                                                        <span class="content">88%</span>
                                                    </li>
                                                </ul>*@
                                            <div style="padding-top: 5px; padding-bottom: 5px; height: 128px; ">
                                                <a class="overflow-text-4">@Html.Raw(mov.chi_tiet)</a>
                                            </div>
                                            <div class="book-area">
                                                <div class="book-ticket">
                                                    <div class="react-item">
                                                        <a href="#0">
                                                            <div class="thumb">
                                                                <img src="/Frontend/Client/assets/images/icons/heart.png" alt="icons">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="react-item mr-auto">
                                                        <a href="#0">
                                                            <div class="thumb">
                                                                <img src="/Frontend/Client/assets/images/icons/book.png" alt="icons">
                                                            </div>
                                                            <span>book ticket</span>
                                                        </a>
                                                    </div>
                                                    <div class="react-item">
                                                        <a href="@mov.trailer" class="video-popup">
                                                            <div class="thumb thumb-movie-popup">
                                                                <img src="~/Frontend/Client/assets/images/icons/play-button.png" alt="icons">
                                                            </div>
                                                            <span>watch trailer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-area text-center">
                    @Html.PagedListPager(Model, page => Url.Action("NowShowing", "Movie", new { page, category = ViewBag.category }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section==========
    $(document).ready(function () {
    $('input[name="theloai"]').click(function () {
        var category = $('input[name="theloai"]:checked').val();

        console.log(this.value);
        setTimeout(() => {
            $('input[name="theloai"]:checked').each(function () {
            $('input[name="theloai"]').prop('checked', false);
            });
        }, 3000);
    });
});
    -->
<script>
    function codeAddress() {
        $('.menu li a.movieac').addClass('active');
        document.getElementById("nowshowing").innerHTML = "Đang chiếu";
        setTimeout(() => {
        $('input[name="theloai"]').each(function () {
            if (this.value == @ViewBag.category) {
                $(this).prop('checked', true);
            }
        })
        }, 300);
        
    }
    window.onload = codeAddress;
</script>