@model CinemaBooking.Models.phim

@{
    ViewBag.Title = "EditMovie";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{ CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4 class="font-size-18">Phim</h4>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Chỉnh Sửa</li>
                        </ol>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="float-right d-none d-md-block">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-settings mr-2"></i> Settings
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                @*<a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("DelToTrash", "Movie", new { id = Model.id})">Tạm xóa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                @Html.HiddenFor(model => model.status)
                                @Html.HiddenFor(model => model.create_at)
                                @Html.HiddenFor(model => model.anh)
                                @Html.HiddenFor(model => model.anhbackground)
                                @Html.HiddenFor(model => model.loai_phim_chieu)
                                @Html.HiddenFor(model => model.create_by)


                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ten_phim, "Tên phim", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ten_phim, new { htmlAttributes = new { @class = "form-control border-form-1 " } })
                                        @Html.ValidationMessageFor(model => model.ten_phim, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.idrating, "Id-rating(ex: tt1267101)", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.idrating, new { htmlAttributes = new { @class = "form-control border-form-1 " } })
                                        @Html.ValidationMessageFor(model => model.idrating, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.Label("Thể loại", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @foreach (var item in db.list_phim_theloai.Where(x => x.id_phim == Model.id))
                                        {
                                            <a class="cate-movie">@item.the_loai_phim.ten_the_loai</a>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Chọn lại thể loại? (tùy chọn)", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("theloaiarray", (MultiSelectList)ViewBag.the_loai_phim_id, new { multiple = "multiple" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.Label("Đánh giá nội dung", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.id_content_rating, (SelectList)ViewBag.content_rating, new { @class = "col-sm-2 col-form-label" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.Label("Đạo diễn hiện tại", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10" style="display:flex;flex-wrap:wrap">
                                        @foreach (var item in db.dao_dien.Where(x => x.id == Model.dao_dien_id))
                                        {
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <img src="~/images/information/@item.anh" alt="Direc">
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a>@item.ho_ten</a></h6>
                                                    @*<span class="cate">actor</span>
                            <p>As Richie Tozier</p>*@
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.Label("Chọn lại đạo diễn? (tùy chọn)", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.dao_dien_id, (SelectList)ViewBag.dao_dien_id, new { @class = "col-sm-2 col-form-label" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Diễn viên hiện tại", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10" style="display:flex;flex-wrap:wrap">
                                        @foreach (var item in db.list_phim_dienvien.Where(x => x.id_phim == Model.id))
                                        {
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <img src="~/images/information/@item.dien_vien.anh" alt="cast">
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a>@item.dien_vien.ho_ten</a></h6>
                                                    @*<span class="cate">actor</span>
                            <p>As Richie Tozier</p>*@
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Chọn loại diễn viên? (tùy chọn)", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("dienvienarray", (MultiSelectList)ViewBag.dien_vien_id, new { multiple = "multiple" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.trailer, "Trailer", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.trailer, new { htmlAttributes = new { @class = "form-control border-form-1 " } })
                                        @Html.ValidationMessageFor(model => model.trailer, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ngay_cong_chieu, "Ngày công chiếu", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ngay_cong_chieu, new { htmlAttributes = new { @class = "form-control border-form-1 " } })
                                        @Html.ValidationMessageFor(model => model.ngay_cong_chieu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.thoi_luong, "Thời lượng (phút)", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.thoi_luong, new { htmlAttributes = new { @class = "form-control border-form-1 " } })
                                        @Html.ValidationMessageFor(model => model.thoi_luong, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.chi_tiet, "Chi tiết phim", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.chi_tiet, new { @class = "form-control", @id = "chitietsanpham" })
                                        @Html.ValidationMessageFor(model => model.chi_tiet, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.anh, "Ảnh chính", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.anh, new { htmlAttributes = new { type = "file", @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.anh, "", new { @class = "text-danger" })
                                        <img class="img-thumbnail" src="~/images/movies/@Model.anh" alt="" width="100" height="100" />(Ảnh hiện tại)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.anhbackground, "Ảnh nền", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.anhbackground, new { htmlAttributes = new { type = "file", @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.anhbackground, "", new { @class = "text-danger" })
                                        <img class="img-thumbnail" src="~/images/movies/background/@Model.anhbackground" alt="" width="230" height="100" />(Ảnh hiện tại)
                                    </div>
                                </div>
                                <div class="float-lg-right">
                                    <div class="form-group mb-0">
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light mr-1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">

                                </div>

                                <div class="form-group mb-0">
                                    @Html.ActionLink("Trở về", "ListMovie")
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- end main content-->
