@model CinemaBooking.Models.su_kien
@{
    ViewBag.Title = @Model.tieu_de;
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Blog-Section========== -->
<section class="blog-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-lg-9 mb-50 mb-lg-0">

                    <div class="post-item post-details" style="display:flex">
                        <div class="post-thumb">
                            <img src="~/images/news/@Model.anh" alt="blog" style="width: 100%;">
                        </div>
                        <div class="post-content">
                            <div class="content">
                                <div class="entry-content p-0">
                                    <div class="left">
                                        <span class="date">@Model.create_at</span>
                                    </div>
                                </div>
                                <div class="post-header">
                                    <h4 class="m-title">
                                        @Model.tieu_de
                                    </h4>
                                    <p>
                                        @Html.Raw(Model.noi_dung)
                                    </p>
                                </div>
                                <div class="tags-area">

                                </div>
                            </div>
                        </div>

                    </div>
                    

                    <a class="title">Bài viết khác :</a>
                        <ul class="comment-area" style=" display: flex; flex-wrap: wrap; width: 100%;">
                            
                            @{CinemaBooking.Models.CinemaBookingEntities db = new CinemaBooking.Models.CinemaBookingEntities();}
                            @{ int qnt = 0;}
                            @foreach (var item in db.su_kien.SqlQuery("SELECT TOP 3 * FROM su_kien ORDER BY NEWID()"))
                            {
                                qnt++;
                                if (qnt >= 4)
                                {
                                    break;
                                }
                                <li>
                                    <div class="blog-thumb">
                                        <a href="@Url.Action("NewsDetail","News", new {id=item.id })">
                                            <img src="~/images/news/@item.anh" alt="sukien">
                                        </a>
                                    </div>
                                    <div class="blog-thumb-info">
                                        <span>@item.create_at</span>
                                        <h6 class="title">
                                            <a href="@Url.Action("NewsDetail","News", new {id=item.id })" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                                                @item.tieu_de
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="blog-content" style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; ">
                                        @Html.Raw(item.noi_dung)
                                    </div>
                                </li>
                            }

                        </ul>

            </div>
        </div>
    </div>
</section>
<!-- ==========Blog-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.newsfeedac').addClass('active');
    }
    window.onload = codeAddress;
</script>