@model IEnumerable<CinemaBooking.Models.ghe_ngoi>
@{
    ViewBag.Title = "SeatRoom";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4 class="font-size-18">Data Table</h4>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Rạp chiếu</a></li>
                            <li class="breadcrumb-item active">Ghế ngồi</li>
                        </ol>
                    </div>
                </div>

                @* <div class="col-sm-6">
                        <div class="float-right d-none d-md-block">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-settings mr-2"></i> Settings
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group row">
                                <div class="col-lg-2">
                                </div>

                                <div class="col-lg-8">
                                    <label>Tên phòng</label>
                                    <input class="form-control text-box single-line" type="text" id="fname" name="fname" value="@ViewBag.pc.ten_phong" readonly>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-lg-2">
                                </div>

                                <div class="col-lg-8">
                                    <label>Số lượng ghế</label>
                                    <input class="form-control text-box single-line" type="text" id="fname" name="fname" value="@ViewBag.pc.so_luong_cot" readonly>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <div class="col-lg-2">
                                    </div>

                                    <div class="col-lg-8">
                                        <label>số lượng dãy</label>
                                        <input class="form-control text-box single-line" type="text" id="fname" name="fname" value="@ViewBag.pc.so_luong_day" readonly>
                                    </div>
                                </div>*@
                            <div class="form-group mb-4">

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-8">
                                    <label>Danh sách ghế</label>
                                    <a class="btn btn-success pull-right" data-target="#CreateSeat" data-toggle="modal" style="float:right">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <rect x="4" y="4" width="16" height="16" rx="2" />
                                            <line x1="9" y1="12" x2="15" y2="12" />
                                            <line x1="12" y1="9" x2="12" y2="15" />
                                        </svg> Thêm hàng ghế mới
                                    </a>
                                </div>
                            </div>
                            @*<div class="col-lg-12">
                                    <button class="btn mg-5-2" style="width:50px;height:35px;background-color: #0391D1;color: white;">F1</button>
                                    <button class="btn mg-5-2" style="width:50px;height:35px;background-color: #0391D1;color: white;">F1</button>
                                </div>*@

                            <div class="row text-center mg-5-2">
                                <div class="col-lg-10" style="margin-bottom:10px;">

                                    <button class="btn mg-5-2" style=" width: 500px; height: 25px; background-color: #fb4848; color: #000000; font-size: 14px; font-weight: 500;">Màn hình</button>
                                    <br />
                                </div>

                                @foreach (var item in ViewBag.ghe)
                                {

                                    if (item.Col == 1)
                                    {
                                        <div class="col-lg-10" style="margin-bottom:5px;">
                                            @foreach (var it in Model.Where(m => m.Row == item.Row))
                                            {
                                                <button class="btn mg-5-2" style="width:50px;height:35px;background-color: #0391D1;color: white; font-size:13px;">@it.Row@it.Col</button>
                                            }
                                        </div>
                                        <div class="col-lg-offset-0" style="margin-bottom:5px;">
                                            <button class="btn mg-5-2 " style="width:50px;height:35px;background-color: #0391D1;color: white; font-size:13px;float:left" data-id="@ViewBag.pc.id" data-seat="@item.Row" id="btnEdit">Edit</button>

                                        </div>
                                        <div class="col-lg-1" style="margin-bottom:5px;">

                                            <button class="btn mg-5-2 btnDeleteSeat" style="width:70px;height:35px;background-color: #ff0000;color: white; font-size:13px;float:left" data-rid="@ViewBag.pc.id" data-rseat="@item.Row" id="btnDelete">Delete</button>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="form-group mb-4">

                            </div>

                            <div class="form-group mb-0">
                                @Html.ActionLink("Trở về", "ListCinemaRoom")
                            </div>
                        </div>

                        <!-- Modal C-->
                        <div class="modal fade" id="CreateSeat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" @*style="height:300px"*@>
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Thêm hàng ghế</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Tên hàng</label>
                                                @*<input type="hidden" id="exampleid" value="0" />*@
                                                <input type="email" class="form-control" id="hangghe" placeholder="Nhập tên hàng ghế">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Số ghế</label>
                                                <input type="text" class="form-control" id="soghe" placeholder="Nhập số ghế">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Loại ghế</label>
                                                <select name="id_loaighe" id="id_loaighe">
                                                    @foreach (var idloaighe in ViewBag.loai_ghe_id)
                                                    {
                                                        <option value="@idloaighe.id">@idloaighe.ten_ghe</option>
                                                    }
                                                </select>

                                            </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-id="@ViewBag.pc.id" id="btnSave">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal E-->
                    <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Thêm hàng ghế</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên hàng</label>
                                            @*<input type="hidden" id="exampleid" value="0" />*@
                                            <input type="email" class="form-control" id="ehangghe" placeholder="Nhập tên hàng ghế" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Số ghế</label>
                                            <input type="text" class="form-control" id="esoghe" placeholder="Nhập số ghế">
                                        </div>
                                        <select name="id_loai_ghe_edit" id="id_loai_ghe_edit">
                                            
                                        </select>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-id="@ViewBag.pc.id" id="btnEditSeat">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



@section Scripts{
    <script>


        $(document).ready(function () {
            $("#id_loaighe").select2();
            $("#id_loai_ghe_edit").select2();

            $('#btnSave').click(function () {
                var hang = $('#hangghe').val();
                var ghe = $('#soghe').val();
                var idloaighe = $("#id_loaighe option:selected").val();
                var id = $(this).data('id');
                $.ajax({
                    url: '/CinemaRoom/CreateSeat',
                    type: 'POST',
                    data: { hang, ghe, id, idloaighe },
                    success: function (res) {
                        if (res.success == true) {
                            window.location.reload();
                        }
                        else if (res.success == false) {
                            alert('Hàng này đã có rồi!');
                        }
                        else if (res.checkr == false) {
                            toastr.warning("Đã xảy ra lỗi hoặc phòng này chưa hết suất chiếu!");
                            $('#CreateSeat').modal('hide');
                        }


                    }
                });
            });
            $('body').on('click', '#btnEdit', function () {
                var pcid = $(this).data('id');
                var Row = $(this).data('seat');
                Getdatabyrow(Row, pcid);
            });
        });


        function Getdatabyrow(Row, pcid, ) {
            $.ajax({
                url: '/CinemaRoom/GetByRow',
                type: 'Get',
                data: {
                    Row: Row,
                    pcid: pcid,
                },
                success: function (res) {
                    if (res.seat != null && res.Row != null) {
                        var idloaighe = res.idloaig;
                        var tenloaighe = res.tenloaig;
                        var html = "";
                        html += '<option value="' + idloaighe[0] + '">' + tenloaighe[0] + '</option>';
                        for (let i = 1; i < res.count; i++) {
                            if (idloaighe[i] != idloaighe[0])
                                html += '<option value="' + idloaighe[i] + '">' + tenloaighe[i] + '</option>';
                        }
                        $('#id_loai_ghe_edit').html(html);
                        $('#ehangghe').val(res.Row);
                        $('#esoghe').val(res.seat);

                        $('#Edit').modal('show');
                    }
                }
            });
        }

        $('#btnEditSeat').click(function () {
            var hang = $('#ehangghe').val();
            var ghe = $('#esoghe').val();
            var idloaighe = $("#id_loai_ghe_edit option:selected").val();
            var id = $(this).data('id');
            $.ajax({
                url: '/CinemaRoom/EditSeat',
                type: 'POST',
                data: { hang, ghe, id, idloaighe },
                success: function (res) {
                    if (res.success) {
                        window.location.reload();
                    }
                    else {
                        toastr.warning('Đã xảy ra lỗi hoặc suất chiếu của phòng này chưa hết ngày!');
                        $('#Edit').modal('hide');
                    }

                }
            });
        });


        $('.btnDeleteSeat').click(function () {
            var pcid = $(this).data('rid');
            var Row = $(this).data('rseat');
            $.ajax({
                url: '/CinemaRoom/DeleteSeat',
                type: 'POST',
                data: {
                    hang: Row,
                    id: pcid,
                },
                success: function (res) {
                    if (res.success == true) {
                        window.location.reload();
                    }
                    else if (res.success == false) {
                        toastr.warning("Không thể xóa hàng này vì phòng này chưa hết suất chiếu!");
                    }
                }
            });
        });
        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }
    </script>
}